{% if id is not defined %}{% set id = 'compose-form' %}{% endif %}
{% if action is not defined %}{% set action = '' %}{% endif %}
<form method="post" action="{{ action }}" id="{{ id }}" {{ form_enctype( form ) }}>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        {{ form_row( form.createdBy ) }}
    </div>
    <div class="col-xs-12 col-sm-6">
        {{ form_row( form.recipient ) }}
    </div>
    <div class="col-xs-12">
        {{ form_row(form.subject) }}
    </div>
    <div class="col-xs-12">
        {{ form_row(form.body) }}
    </div>
</div>
    <div class="display-hide" style="display:none">
        {{ form_rest( form ) }}
    </div>
</form>