<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Compose New Message</h4>
        </div>
        <div class="modal-body">
            {% include 'CoreSysUserBundle:AdminAjaxMessages:adminNewThreadForm.html.twig' with {'id': 'admin-compose-form' } %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-access-form" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="$('#admin-compose-form').submit();">Send</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function(){
        loadPostDesc('auto', true);
        loadDropTabs();
        loadSelect2();
        $('#admin-compose-form').ajaxForm({
            success: function(res, status) {
                $('.modal').modal('hide');
                if(p !== null) {
                    if(typeof p.refresh == 'function') {
                        p.refresh();
                    }
                }
                res = typeof(res) == 'object' ? res : JSON.parse(res);
                if(res.success) {
                    toastr['success']( 'Message sent', 'Success');
                } else {
                    toastr['error']('Could not sent message', 'Error');
                }
            }
        });
    });
</script>