{% if id is not defined %}{% set id = 'reply-form' %}{% endif %}
{% if action is not defined %}{% set action = '' %}{% endif %}
<form method="post" action="{{ action }}" id="{{ id }}" {{ form_enctype( form ) }}>
<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm">
            <strong>RE: {{ thread.subject }}</strong>
        </div>
    </div>
    <div class="col-xs-12">
        {{ form_row( form.participant ) }}
    </div>
    <div class="col-xs-12">
        {{ form_row(form.body) }}
    </div>
</div>
    <div class="display-hide" style="display:none">
        {{ form_rest( form ) }}
    </div>
</form>