{#<div class="inbox-header">#}
    {#<h1 class="pull-left">Inbox</h1>#}

    {#<form class="form-inline pull-right" action="index.html">#}
        {#<div class="input-group input-medium">#}
            {#<input type="text" class="form-control" placeholder="Password">#}
            {#<span class="input-group-btn">#}
                {#<button type="submit" class="btn green"><i class="fa fa-search"></i></button>#}
            {#</span>#}
        {#</div>#}
    {#</form>#}
{#</div>#}
{#<div class="inbox-loading">#}
    {#Loading...#}
{#</div>#}
{#<div class="inbox-content">#}
    {#<table class="table table-striped table-advance table-hover">#}
        {#<thead>#}
            {#<th width="20"></th>#}
            {#<th width="20">Read?</th>#}
            {#<th>From</th>#}
            {#<th>Subject</th>#}
            {#<th width="50">Replies</th>#}
            {#<th>Date</th>#}
        {#</thead>#}
        {#<tbody>#}
            {% include 'CoreSysUserBundle:AdminAjaxMessages:threads.html.twig' %}
        {#</tbody>#}
    {#</table>#}
{#</div>#}