<div class="row well well-sm">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-6"><i class="icon-mail-{{ message.hasUnread() ? 'unread' : 'read' }}"></i> {{ message.thread.subject }}</div>
                <div class="col-xs-3 text-right">{{ message.sender.username }}</div>
                <div class="col-xs-3 text-right">{{ message.createdAt.format( 'M d, Y g:i a' ) }}</div>
            </div>
        </div>
    </div>
</div>