<tr data-id="{{ thread.id }}" class="{{ thread.isReadByParticipant() ? 'unread' : 'read' }}">
    <td data-id="{{ thread.id }}">123<input data-id="{{ thread.id }}" class="uniform row-check check-row" type="checkbox" value="1" /></td>
    <td align="center"><i class="icon-mail-{{ thread.isReadByParticipant() ? 'unread' : 'read' }}"></i></td>
    <td data-id="{{ thread.id }}">{{ thread.createdBy.username }}</td>
    <td>{{ thread.subject }}</td>
    <td align="center" title="{% for p,participant in thread.participants %}{{ participant.username }}{{ p < (thread.participants | length) - 1 ? ',' : '' }}{% endfor %}">{{ thread.participants | length }}</td>
    <td>{{ thread.createdAt.format( 'M d, Y g:i a' ) }}</td>
</tr>