.image-item { width: 175px; padding: 1%; margin: 1%; min-height: 120px; min-width: 150px; }
.image-item, .image-item img {box-shadow: 0px 0px 6px #3d3d3d;-webkit-box-shadow: 0px 0px 6px #3d3d3d;-moz-box-shadow: 0px 0px 6px #3d3d3d;-o-box-shadow: 0px 0px 6px #3d3d3d;-webkit-transition: 1s all;}
.image-item:hover,.image-item img, .image-item.selected { background: #3d3d3d;border-radius: 10px !important;-moz-border-radius: 10px !important;-webkit-border-radius: 10px !important;-o-border-radius: 10px !important;}
.image-item.selected { background:#e02222 !important; }
.image-item .detail { position: absolute; opacity: 0; -webkit-transition: 1s all; }
.image-item:hover .detail { opacity: 1; }
.image-item .detail.tr { top: 0px; right: 0px;}
.image-item .detail.tr .btn {border-top-right-radius: 8px !important;-moz-border-top-right-radius: 8px !important;-webkit-border-top-right-radius: 8px !important;-o-border-top-right-radius: 8px !important;}
.image-item .detail.br {bottom: 0px; right: 0px;}
.image-item .detail.br .btn {  border-bottom-right-radius: 8px !important;-moz-border-bottom-right-radius: 8px !important;-webkit-border-bottom-right-radius: 8px !important;-o-border-bottom-right-radius: 8px !important; }
.image-item .detail.tl {top: 0px; left: 0px;}
.image-item .detail.tl .btn {border-top-left-radius: 8px !important;-moz-border-top-left-radius: 8px !important;-webkit-border-top-left-radius: 8px !important;-o-border-top-left-radius: 8px !important; }
.image-item .detail.bl { bottom: 0px; left: 0px; }
.image-item .detail.bl .btn {border-bottom-left-radius: 8px !important;-moz-border-bottom-left-radius: 8px !important;-webkit-border-bottom-left-radius: 8px !important;-o-border-bottom-left-radius: 8px !important;}