{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    User Access Management
{% endblock head_title %}

{% block page_title %}
    User Access Management
    <small>View/Add/Edit/Remove User Access</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li class="btn-group">
        <button type="button" class="btn red dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                data-delay="1000" data-close-others="true">
            <i class="fa fa-link"></i>
            <span>Quick Links</span>
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_index' ) }}"><i class="fa fa-user"></i> User Management</a>
            </li>
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_roles' ) }}"><i class="fa fa-list"></i> Roles Management</a>
            </li>
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_access' ) }}"><i class="fa fa-list-ul"></i> Access Management</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path( 'admin_users_index' ) }}">User Management</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path( 'admin_users_access' ) }}">User Access Management</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}

{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
    <script type="text/javascript"
            src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        User Accesss Management
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary btn-sm add-access" href="javascript:void(0)"><i
                                    class="fa fa-plus-circle"></i> Add Access</a>
                        <a class="btn btn-danger display-hide btn-sm remove-accesses" href="javascript:void(0)"><i
                                    class="fa fa-times-circle"></i> Remove
                            <span class="selected-count">0</span> Access(s)</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="accesses-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th data-hide="phone,tablet" width="20"><input type="checkbox" class="master-check"/></th>
                            <th data-hide="phone,tablet">ID</th>
                            <th data-class="expand">Path</th>
                            <th data-hide="phone">ROLES</th>
                            <th data-hide="phone">Host</th>
                            <th data-hide="phone">IP</th>
                            <th data-hide="phone">Anon</th>
                            <th data-hide="phone" width="75">Active</th>
                            <th data-hide="phone,tablet" width="150">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i,access in accesses %}
                            <tr data-id="{{ access.id }}">
                                <td><input type="checkbox" data-id="{{ access.id }}" class="row-check" value="1"/></td>
                                <td>{{ access.id }}</td>
                                <td>{{ access.path }}</td>
                                <td>
                                    {% if access.roles | length > 0 %}
                                        {% for i,r in access.roles %}
                                            <span class="label label-default"
                                                  style="margin:1px;background-color:{{ r.color }} !important">
                                                    {{ r.name }}
                                                </span>
                                        {% endfor %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>{{ access.host ? access.host : 'N/A' }}</td>
                                <td>{{ access.ip ? access.ip : 'N/A' }}</td>
                                <td><i class="fa fa-{{ access.anonymous ? 'check green' : 'times red' }}"></i></td>
                                <td align="">
                                    <i class="fa fa-{{ access.active ? 'check green' : 'times red' }}"></i></td>
                                <td>
                                    <a class="btn btn-xs btn-info btn-edit" href="javascript:void(0)"
                                       title="Edit Access"><i class="fa fa-edit"></i> Edit</a>
                                    <a class="btn btn-xs btn-danger btn-remove" href="javascript:void(0)"
                                       title="Remove Access"><i class="fa fa-trash-o"></i> Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-modal" tabindex="-1" access="dialog" aria-labelledby="new-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="edit-modal" tabindex="-1" access="dialog" aria-labelledby="edit-modal"
         aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    <script type="application/javascript"
            src="{{ plugin_asset( 'CoreSys/js/jquery.adminBasicTablePage.js' ) }}"></script>
    <script type="application/javascript"
            src="{{ asset( 'bundles/coresysuser/js/jquery.adminAccessPage.js') }}"></script>
    <script type="application/javascript">
        var page;
        $(document).ready(function () {
            page = new $.fn.adminAccessPage();
            page = page.page;
        });
    </script>
{% endblock body_js %}