{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    Administator Campaigns Management
{% endblock head_title %}

{% block page_title %}
    Administator Campaigns Management
    <small>View/Add/Edit/Remove Campaigns</small>
    <div class="pull-right">
        <div id="sparkline-bar" class="graph sparkline hidden-xs" style="margin-right:25px;"></div>
    </div>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_campaigns_index' ) }}">Campaigns Management</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}

{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
    <script type="text/javascript"
            src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        Campaigns Management
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary btn-sm add-campaign" href="javascript:void(0)"><i
                                    class="fa fa-plus-circle"></i> Add Campaign</a>
                        <a class="btn btn-danger display-hide btn-sm remove-campaigns" href="javascript:void(0)"><i
                                    class="fa fa-times-circle"></i> Remove
                            <span class="selected-count">0</span> Campaign(s)</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="campaigns-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th data-hide="phone,tablet" width="20"><input type="checkbox" class="master-check"/></th>
                            {#<th data-hide="phone,tablet">ID</th>#}
                            <th data-class="expand">Name</th>
                            <th data-hide="always,phone,tablet">Description</th>
                            <th data-hide="always,phone,tablet">Created</th>
                            <th data-hide="always,phone,tablet">Updated</th>
                            <th data-hide="phone">User</th>
                            <th>Active</th>
                            <th data-hide="phone,tablet" width="150">Options</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-modal" tabindex="-1" access="dialog" aria-labelledby="new-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="edit-modal" tabindex="-1" access="dialog" aria-labelledby="edit-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="view-modal" tabindex="-1" access="dialog" aria-labelledby="view-modal"
         aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    <script type="application/javascript"
            src="{{ plugin_asset( 'CoreSys/js/jquery.adminAjaxTablePage.js' ) }}"></script>
    <script type="application/javascript"
            src="{{ asset( 'bundles/coresyscampaign/js/jquery.adminCampaignPage.js') }}"></script>
    <script type="application/javascript">
        var page;
        $(document).ready(function () {
            {#$("#sparkline-bar").sparkline([{{ userLastYearCounts() }}],{'type':'bar'});#}
            page = new $.fn.adminCampaignPage();
            page = page.page;
        });
    </script>
{% endblock body_js %}