{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    Ads Overview
{% endblock head_title %}

{% block page_title %}
    Ads Overview
    <small>All things ad related</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_ads_index' ) }}">Ads Overview</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}

{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    {% include 'CoreSysAdBundle:Admin:stats.html.twig' %}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="#" class="btn blue btn-block btn-pill"><i class="fa fa-plus-circle"></i> Create New Campaign</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="#" class="btn green btn-block btn-pill"><i class="fa fa-plus-circle"></i> Create New Ad</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="{{ path( 'admin_ads_advertisers_index' ) }}" class="btn purple btn-block btn-pill"><i class="fa fa-plus-circle"></i> Create New Advertiser</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="#" class="btn yellow btn-block btn-pill"><i class="fa fa-plus-circle"></i> Create New Publisher</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    {% include 'CoreSysAdBundle:Admin:top_stats.html.twig' %}
{% endblock content %}

{% block body_js %}
    <script type="application/javascript" src="{{ plugin_asset( 'CoreSys/js/jquery.adminAjaxTablePage.js' ) }}"></script>
    {#<script type="application/javascript" src="{{ asset( 'bundles/coresyscampaign/js/jquery.adminCampaignPage.js') }}"></script>#}
    <script type="application/javascript">
        var page;
        $(document).ready(function () {
            {#$("#sparkline-bar").sparkline([{{ userLastYearCounts() }}],{'type':'bar'});#}
//            page = new $.fn.adminCampaignPage();
//            page = page.page;
        });
    </script>
{% endblock body_js %}