<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>Advertisers With the most Campaigns</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>Advertisers With the most Ads</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>Advertisers With the most Impressions</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>Advertisers With the most Clicks</h2>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>