<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <form id="{{ new ? 'new-campaign-form' : 'edit-campaign-form' }}" class="campaign-form" action="{{ action }}" method="post" {{ form_enctype( form ) }}>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row( form.name ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-8 col-xs-8">
                        {{ form_row( form.user ) }}
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" style="padding-top:24px;">
                        {{ form_row( form.active ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row( form.description ) }}
                    </div>
                </div>
                <div class="display-hide">
                    {{ form_rest( form ) }}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-campaign-form" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="$('#{{ new ? 'new-campaign-form' : 'edit-campaign-form' }}').submit();">Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function(){
        loadPostDesc('auto', true);
        loadDropTabs();
        $('#{{ new ? 'new-campaign-form' : 'edit-campaign-form' }}').ajaxForm({
            success: function(res, status) {
                if (typeof page == 'object') {
                    page.{{ new ? 'addedNewRow' : 'editedRow' }}(res, status);
                }
                $('.modal').modal('hide');
                console.log( res );
            }
        });
    });
</script>