<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Create Cron Job
                </div>
                <div class="actions">
                    <a href="javascript:void(0)" class="btn green btn-sm add-cron" onclick="$('#new-cron').submit();"><i class="fa fa-check"></i> Add Cron</a>
                </div>
            </div>
            <div class="portlet-body">
                <form method="post" class="form" action="" {{ form_enctype( form ) }} id="new-cron">
                    <div class="row">
                        <div class="col-md-12">
                            <em>Keep in mind that cron user is {{ wwwUser.name }} and its root directory is {{ wwwUser.dir }}.</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">{{ form_row( form.minute ) }}</div>
                        <div class="col-xs-2">{{ form_row( form.hour ) }}</div>
                        <div class="col-xs-2">{{ form_row( form.dayOfMonth ) }}</div>
                        <div class="col-xs-2">{{ form_row( form.month ) }}</div>
                        <div class="col-xs-2">{{ form_row( form.dayOfWeek ) }}</div>
                        <div class="col-xs-2">
                            <div class="btn-group pull-right time-menu" data-original-title="Time Presets">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-top:26px;">
                                    <i class="fa fa-edit"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="time-preset" href="javascript:void(0);" id="hourly">{{ 'Hourly' }}</a></li>
                                    <li><a class="time-preset" href="javascript:void(0);" id="daily">{{ 'Daily' }}</a></li>
                                    <li><a class="time-preset" href="javascript:void(0);" id="weekly">{{ 'Weekly' }}</a></li>
                                    <li><a class="time-preset" href="javascript:void(0);" id="monthly">{{ 'Monthly' }}</a></li>
                                    <li><a class="time-preset" href="javascript:void(0);" id="yearly">{{ 'Yearly' }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">{{ form_row( form.command ) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">{{ form_row( form.logFile ) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">{{ form_row( form.errorFile ) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11">{{ form_row( form.comment ) }}</div>
                    </div>
                    <div class="display-hide" style="display:none">
                        {{ form_rest( form ) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>