<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ file }}</h4>
        </div>
        <div class="modal-body">
            {{ content | raw }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-user-form" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->