{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% form_theme form 'CoreSysAdminBundle:Admin:form.html.twig' %}

{% block head_title %}
    Cron Management
{% endblock head_title %}

{% block page_title %}
    Cron Management
    <small>Manage system cron jobs</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_cron_management' ) }}">Cron Management</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    {% include 'CoreSysAdminBundle:Admin:currentCronJobs.html.twig' %}
    {% include 'CoreSysAdminBundle:Admin:addCronJob.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>Cron Table
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="well">
                        {{ raw | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-modal" tabindex="-1" access="dialog" aria-labelledby="edit-modal" aria-hidden="true"></div>
    <div class="modal fade bs-modal-lg" id="view-file" tabindex="-1" access="dialog" aria-labelledby="view-file" aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    {{ parent() }}
    <script type="application/javascript">
        $( document ).ready( function () {
            $( '.collapse' ).collapse();
            $( '.time-input, .command-preset, .time-menu, .log-preset' ).tooltip( {} );
            var presets = {
                'yearly': ['0', '0', '1', '1', '*'],
                'monthly': ['0', '0', '1', '*', '*'],
                'weekly': ['0', '0', '*', '*', '0'],
                'daily': ['0', '0', '*', '*', '*'],
                'hourly': ['0', '*', '*', '*', '*']
            };
            $( '.time-preset' ).on( 'click', function ( e ) {
                e.preventDefault();
                var $link = $( this );
                var preset = presets[$link.attr( 'id' )];
                $( '#core_sys_admin_cron_minute' ).val( preset[0] );
                $( '#core_sys_admin_cron_hour' ).val( preset[1] );
                $( '#core_sys_admin_cron_dayOfMonth' ).val( preset[2] );
                $( '#core_sys_admin_cron_month' ).val( preset[3] );
                $( '#core_sys_admin_cron_dayOfWeek' ).val( preset[4] );
            } );

            $( '.command-preset' ).click( function () {
                $( '#core_sys_admin_cron_command' ).val( $( this ).attr( 'value' ) );
            } );

            $( '.log-preset' ).click( function ( e ) {
                e.preventDefault();
                $( this ).closest( '.row' ).find( 'input' ).val( $( this ).attr( 'value' ) );
            } );

            var $editModal = $('#edit-modal' ),
                $viewFile = $('#view-file');

            $( 'body' ).on( 'hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
                $editModal.children().remove();
                $viewFile.children().remove();
            } );

            $('a.edit-cron' ).click(function(e){
                e.preventDefault();
                $editModal.modal({remote:$(this ).attr('href')});
            });

            $('.modal-link' ).click(function(e){
                e.preventDefault();
                var $link = $(this);
                $viewFile.modal({'remote': $link.attr('href')});
            });
        } );
    </script>
{% endblock body_js %}