<style>.muted {color: #969696;} .collapse { margin-top: 5px; }</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Current Cron Jobs
                </div>
                <div class="actions">
                    <a href="javascript:void(0)" class="btn green btn-sm save-settings display-hide"><i class="fa fa-check"></i> Save</a>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-group">
                {% for index, cron in crons %}
                    <li class="list-group-item">
                    <div class="row" title="{{ cron.isSuspended ? 'Suspended' : '' }}">
                        <div class="col-xs-2">
                                <span class="label label-{% if cron.status == 'error' %}danger{% elseif cron.status == 'unknown' %}warning{%else%}success{% endif %}">{{ cron.status  }}</span>
                        </div>
                        <div class="col-xs-8">
                            <strong class="{% if cron.isSuspended %}muted{% endif %}">
                                {{ cron.expression }} {{ cron.command }}
                            </strong>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn pull-right" data-toggle="collapse" data-target="#cron-{{ index }}"><i class="fa fa-search"></i> {{ 'Details'  }} <i class="caret"></i></button>
                        </div>
                    </div>
                    <div class="collapse in" id="cron-{{ index }}">
                        <table class="table table-striped" >
                            <tr>
                                <th class="col-md-2" style="color: #808080;"><i class="fa fa-clock-o"></i> {{ 'Last Run'  }}</th>
                                <td colspan="2">{{ cron.lastRunTime ? cron.lastRunTime | date : 'Unknown'  }}</td>
                            </tr>
                            {% if cron.comment %}
                                <tr>
                                    <th style="color: #049cdb;"><i class="fa fa-comment-o"></i> {{ 'Comment'  }}</th>
                                    <td colspan="2">{{ cron.comment }}</td>
                                </tr>
                            {% endif %}
                            {% if cron.logFile %}
                                <tr>
                                    <th style="color: #46a546;"><i class="fa fa-file"></i> {{ 'Log File'  }}</th>
                                    <td>{{ cron.logFile }}</td>
                                    <td>
                                        {% if cron.logSize %}
                                            <a class="btn btn-info pull-right modal-link"
                                               href="{{ path('admin_cron_management_file', {'id':index, 'type': 'log'}) }}">
                                                <i class="icon-search icon-white"></i>
                                                {{ 'Log File'  }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if cron.errorFile %}
                                <tr>
                                    <th style="color: #9d261d;"><i class="fa fa-file"></i> {{ 'Error File'  }}</th>
                                    <td>{{ cron.errorFile }}</td>
                                    <td>
                                        {% if cron.errorSize %}
                                            <a class="btn btn-info pull-right modal-link"
                                               href="{{ path('admin_cron_management_file', {'id':index, 'type': 'error'}) }}">
                                                <i class="icon-search icon-white"></i>
                                                {{ 'Error file'  }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th style="color: #808080;"><i class="fa fa-cog"></i> {{ 'Raw cron'  }}</th>
                                <td colspan="2"><pre>{{ cron }}</pre></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td colspan="2">
                            <span class="pull-right">
                                <a class="btn btn-primary edit-cron"
                                   href="{{ path('admin_cron_management_edit', {'id':index}) }}">
                                    <i class="icon-edit icon-white"></i>
                                    {{ 'Edit'  }}
                                </a>
                                {% if cron.suspended %}
                                    <a class="btn btn-success"
                                       href="{{ path('admin_cron_management_wakeup', {'id':index}) }}">
                                        <i class="icon-play icon-white"></i>
                                        {{ 'Wake up'  }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-warning"
                                       href="{{ path('admin_cron_management_suspend', {'id':index}) }}">
                                        <i class="icon-pause icon-white"></i>
                                        {{ 'Suspend'  }}
                                    </a>
                                {% endif %}
                                <a class="btn btn-danger"
                                   href="{{ path('admin_cron_management_remove', {'id':index}) }}">
                                    <i class="icon-trash icon-white"></i>
                                    {{ 'Remove'  }}
                                </a>
                            </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </li>
                {% endfor %}
                </ul>
                {% if crons | length == 0 %}
                    <h5>There are currently no cronjobs to list</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>