{% block form_row %}
    {% set type = type|default('text') %}
    {% if contains( id, 'command')
    or contains( id, 'logFile')
    or contains( id, 'errorFile' )
    or contains( id, 'comment') %}
        <div class="input-group" style="margin:2px 0">
            <span class="input-group-addon" style="min-width: 100px;">
                <b>{{ form_label(form) }}</b>
            </span>
            {{ form_widget(form) }}
            {% if contains( id, 'command' ) %}
                <span class="input-group-addon" style="cursor:pointer">
                    <i class="fa fa-edit command-preset"data-original-title="Symfony Command" id="symfony-command" value="{{ symfonyCommand }}"></i>
                </span>
            {% elseif contains(id,'logFile') or contains(id,'errorFile') %}
                <span class="input-group-addon" style="cursor:pointer">
                    <i class="fa fa-edit log-preset" data-original-title="Symfony Log Directory" value="{{ logDir }}"></i>
                </span>
            {% endif %}
        </div>
    {% else %}
        {% spaceless %}
            <div class="field-block button-height form-group">
                {{ form_label(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        {% endspaceless %}
    {% endif %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if label_attr.class is defined %}
            {% set label_class = label_attr.class %}
        {% else %}
            {% set label_class = '' %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_class ~ ' control-label')|trim}) %}

        {% if contains( id, 'command')
        or contains( id, 'logFile')
        or contains( id, 'errorFile' )
        or contains( id, 'comment') %}
            <b>{{ label|trans({}, translation_domain) }}</b>
        {% else %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><b>{{ label|trans({}, translation_domain) }}</b></label>
        {%  endif %}
    {% endspaceless %}
{% endblock %}

{% block form_widget %}
    {% spaceless %}
    {% set type = type|default('text') %}
    {% if contains( id, 'command')
    or contains( id, 'logFile')
    or contains( id, 'errorFile' )
    or contains( id, 'comment') %}
        <input class="input full-width form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% else %}
        <div class="{{ type == 'email' ? 'input-group' : '' }}">
            {% if type == 'email' %}
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
            {% endif %}
            <input class="input full-width form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </div>
    {% endif %}
    {% endspaceless %}
{% endblock %}