{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    Administation Menus
{% endblock head_title %}

{% block page_title %}
    Administation Menus
    <small>Enable/Disable Admin menus</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_menus' ) }}">Administation Menus</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        Administation Menus
                    </div>
                    <div class="actions">
                        <a class="btn btn-success btn-sm save-order" href="javascript:void(0)"><i
                                    class="fa fa-check"></i> Save Menu Order</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="menus-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="25">&nbsp</th>
                            <th class="display-hide" data-hide="phone">Type</th>
                            <th class="display-hide" data-hide="phone">Package</th>
                            <th data-class="expand">Bundle</th>
                            <th class="display-hide" data-hide="always,phone,tablet">Template</th>
                            <th>Position</th>
                            <th width="50">Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i,menu in menus %}
                            <tr data-id="{{ menu.id }}">
                                <td class="handle" title="Drag to re-order" style="cursor:pointer"><i class="glyphicon glyphicon-screenshot"></i>
                                </td>
                                <td class="display-hide">{{ menu.type }}</td>
                                <td class="display-hide">{{ menu.package }}</td>
                                <td>{{ menu.bundle }}</td>
                                <td class="display-hide">{{ menu.template }}</td>
                                <td class="row-position">{{ menu.position }}</td>
                                <td><a style="display:block;text-align:center" href="javascript:void(0)"
                                       class="toggle-active" data-id="{{ menu.id }}"
                                       title="{{ menu.active ? 'Click to make inactive' : 'Click to make active' }}"><i
                                                class="fa {{ menu.active ? 'fa-check green' : 'fa-times red' }}"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {{ parent() }}
    <script type="application/javascript"
            src="{{ plugin_asset( 'CoreSys/js/jquery.adminBasicTablePage.js' ) }}"></script>
    <script type="application/javascript" src="{{ asset( 'bundles/coresysadmin/js/jquery.adminMenuPage.js' ) }}"></script>
{% endblock body_js %}