{% set is_top = routeContains( 'admin_ads' ) %}
<li class="{{ is_top ? 'active' : '' }}">
    <a href="javascript:void(0)">
        <i class="fa fa-group"></i>
        <span class="title">Ads Management</span>
        <span class="arrow"></span>
        {% if is_top %}
            <span class="selected"></span>
        {% endif %}
    </a>
    <ul class="sub-menu">
        <li{{ routeContains( 'admin_ads_index' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_ads_index' ) }}">Ads Overview</a></li>
        <li{{ routeContains( 'admin_ads_advertisers_index' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_ads_advertisers_index' ) }}">Advertisers</a></li>
        <li{{ routeContains( 'admin_ads_publishers_index' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_ads_publishers_index' ) }}">Publishers</a></li>
        {% set is_campaigns = routeContains( 'admin_ads_campaigns_index' ) %}
        <li{{ is_campaigns ? ' class="active"' : '' }}>
            <a href="javascript:void(0)">
                <span class="title">Ad Campaigns</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li{{ routeContains( 'admin_ads_campaigns_index' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_ads_campaigns_index' ) }}">All Campaigns</a></li>
                <li><a href="javascript:void(0)">Campaigns by User</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span class="title">Ads</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li><a href="javascript:void(0)">All Ads</a></li>
                <li><a href="javascript:void(0)">Ads By Campaign</a></li>
                <li><a href="javascript:void(0)">Ads By User</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span class="title">Zones</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li><a href="javascript:void(0)">All Zones</a></li>
                <li><a href="javascript:void(0)">Zones By Campaign</a></li>
                <li><a href="javascript:void(0)">Zones By User</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-cog"></i> Ads Settings</a>
        </li>
    </ul>
</li>