<div class="well">
    <div class="row">
        <div class="col-md-6">
            {{ form_label( form.siteAdminEmail) }}
            <span class="input-group-addon checkbox-addon">
                {{ form_widget( form.siteAdminEmailShow, {'attr':{'title':'Show Webmaster Email?'}}) }}
            </span>
            {{ form_widget( form.siteAdminEmail) }}
        </div>
        <div class="col-md-6">
            {{ form_label( form.siteWebmasterEmail) }}
            <span class="input-group-addon checkbox-addon">
                {{ form_widget( form.siteWebmasterEmailShow, {'attr':{'title':'Show Webmaster Email?'}}) }}
            </span>
            {{ form_widget( form.siteWebmasterEmail) }}
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-6">
            {{ form_label( form.siteSupportEmail) }}
            <span class="input-group-addon checkbox-addon">
                {{ form_widget( form.siteSupportEmailShow, {'attr':{'title':'Show Webmaster Email?'}}) }}
            </span>
            {{ form_widget( form.siteSupportEmail) }}
        </div>
    </div>
</div>