<script id="template-upload" type="text/x-tmpl">
    {{ '{%' }} for (var i=0, file; file=o.files[i]; i++) { {{ '%}' }}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{{ '{%' }}=file.name{{ '%}' }}</p>
            {{ '{%' }} if (file.error) { {{ '%}' }}
                <div><span class="label label-danger">Error</span> {{ '{%' }}=file.error{{ '%}' }}</div>
            {{ '{%' }} } {{ '%}' }}
        </td>
        <td>
            <p class="size">{{ '{%' }}=o.formatFileSize(file.size){{ '%}' }}</p>
            {{ '{%' }} if (!o.files.error) { {{ '%}' }}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            {{ '{%' }} } {{ '%}' }}
        </td>
        <td>
            {{ '{%' }} if (!o.files.error && !i && !o.options.autoUpload) { {{ '%}' }}
                <button class="btn blue start">
                    <i class="fa fa-upload"></i>
                    <span>Start</span>
                </button>
            {{ '{%' }} } {{ '%}' }}
    {{ '{%' }} if (!i) { {{ '%}' }}
                <button class="btn red cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {{ '{%' }} } {{ '%}' }}
        </td>
    </tr>
{{ '{%' }} } {{ '%}' }}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {{ '{%' }} for (var i=0, file; file=o.files[i]; i++) { {{ '%}' }}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {{ '{%' }} if (file.thumbnailUrl) { {{ '%}' }}
                    <img src="{{ '{%' }}=file.thumbnailUrl{{ '%}' }}"></a>
                {{ '{%' }} } {{ '%}' }}
            </span>
        </td>
        <td>
            <span class="name">
                {{ '{%' }} if (file.url) { {{ '%}' }}
                    {# <a href="{{ '{%' }}=file.url{{ '%}' }}" title="{{ '{%' }}=file.name{{ '%}' }}" download="{{ '{%' }}=file.name{{ '%}' }}" {{ '{%' }}=file.thumbnailUrl?'data-gallery':''{{ '%}' }}> #}
                        {{ '{%' }}=file.name{{ '%}' }}
                    {# </a> #}
                {{ '{%' }} } else { {{ '%}' }}
                    <span>{{ '{%' }}=file.name{{ '%}' }}</span>
                {{ '{%' }} } {{ '%}' }}
            </span>
            {{ '{%' }} if (file.error) { {{ '%}' }}
                <div><span class="label label-danger">Error</span> {{ '{%' }}=file.error{{ '%}' }}</div>
            {{ '{%' }} } {{ '%}' }}
        </td>
        <td>
            <span class="size">{{ '{%' }}=o.formatFileSize(file.size){{ '%}' }}</span>
        </td>
        <td>
            {{ '{%' }} if (file.deleteUrl) { {{ '%}' }}
                {# <button class="btn red delete" data-type="{{ '{%' }}=file.deleteType{{ '%}' }}" data-url="{{ '{%' }}=file.deleteUrl{{ '%}' }}"{{ '{%' }} if (file.deleteWithCredentials) { {{ '%}' }} data-xhr-fields='{"withCredentials":true}'{{ '{%' }} } {{ '%}' }}>
                    <i class="fa fa-trash-o"></i>
                    <span>Delete</span>
                </button> #}
            {{ '{%' }} } else { {{ '%}' }}
                <button class="btn yellow cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {{ '{%' }} } {{ '%}' }}
        </td>
    </tr>
{{ '{%' }} } {{ '%}' }}
</script>