<div class="well">
    <div class="row">
        <div class="col-md-6">
            {{ form_row( form.siteName ) }}
            {{ form_row( form.siteSlogan ) }}
        </div>
        <div class="col-md-6">
            {{ form_row( form.siteTitle ) }}
            {{ form_row( form.siteKeywords ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row( form.siteDescription ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row( form.enable_google_analytics ) }}
        </div>
        <div class="col-md-6">
            {{ form_row( form.google_analytics_key ) }}
        </div>
    </div>
</div>