{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    System Settings
{% endblock head_title %}

{% block page_title %}
    System Settings
    <small>Site specific settings</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_site_settings' ) }}">System Settings</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link href="{{ plugin_asset( 'fancybox/source/jquery.fancybox.css' ) }}" rel="stylesheet"/>
    <link href="{{ plugin_asset( 'jquery-file-upload/css/jquery.fileupload-ui.css' ) }}" rel="stylesheet"/>
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script src="{{ plugin_asset( 'fancybox/source/jquery.fancybox.pack.js' ) }}"></script>

    <!-- BEGIN:File Upload Plugin JS files-->
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/jquery.ui.widget.js' ) }}"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/tmpl.min.js' ) }}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/load-image.min.js' ) }}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/canvas-to-blob.min.js' ) }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.iframe-transport.js' ) }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload.js' ) }}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-process.js' ) }}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-image.js' ) }}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-validate.js' ) }}"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-ui.js' ) }}"></script>
    <!-- The main application script -->
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="{{ plugin_asset( 'jquery-file-upload/js/cors/jquery.xdr-transport.js' ) }}"></script>
    <![endif]-->
    <!-- END:File Upload Plugin JS files-->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    {% include 'CoreSysSiteBundle:Settings:fileupload_templates.html.twig' %}
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="{{ plugin_asset( 'respond.min.js' ) }}"></script>
<script src="{{ plugin_asset( 'excanvas.min.js' ) }}"></script>
    <![endif]-->
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>System Settings
                    </div>
                    <div class="actions">
                        <a href="javascript:void(0)" class="btn green btn-sm save-settings display-hide"><i class="fa fa-check"></i> Save</a>
                    </div>
                </div>
                <div class="portlet-body">
                    {{ form_start( form, {'attr': {'id':'settings-form'}} ) }}
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="tabbable-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#gen" data-toggle="tab">General</a>
                            </li>
                            <li class="">
                                <a href="#tos" data-toggle="tab">Terms of Service</a>
                            </li>
                            <li class="">
                                <a href="#priv" data-toggle="tab">Privacy Policy</a>
                            </li>
                            <li class="">
                                <a href="#con" data-toggle="tab">Contacts</a>
                            </li>
                            <li class="">
                                <a href="#lag" data-toggle="tab">Logos &amp Graphics</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="gen">
                                {% include 'CoreSysSiteBundle:Settings:gen_tab.html.twig' %}
                            </div>
                            <div class="tab-pane" id="tos">
                                {% include 'CoreSysSiteBundle:Settings:tos_tab.html.twig' %}
                            </div>
                            <div class="tab-pane" id="priv">
                                {% include 'CoreSysSiteBundle:Settings:priv_tab.html.twig' %}
                            </div>
                            <div class="tab-pane" id="con">
                                {% include 'CoreSysSiteBundle:Settings:con_tab.html.twig' %}
                            </div>
                            <div class="tab-pane" id="lag">
                                {% include 'CoreSysSiteBundle:Settings:lag_tab.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="hidden" style="display:none">
                        {{ form_rest( form ) }}
                    </div>
                    {{ form_end( form ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="upload" tabindex="-1" role="upload" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Upload Site Images</h4>
                </div>
                <div class="modal-body">
                    {% include 'CoreSysSiteBundle:Settings:UploadForm.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock content %}

{% block body_js %}
    <script>
        $(document).ready(function(){
            loadPostDesc('auto',false);
            loadDropTabs();
            loadFormIcons();
            initFormValidation();
            initFileUploads();
            $('.save-settings').click(function(e){
                console.log( 'click' );
                e.preventDefault();
                $('#settings-form').submit();
            }).removeClass('display-hide');
        });

        var errorEl;

        function initFormValidation()
        {
            var $form = $('#settings-form');
            errorEl = $form.find('.alert-danger');

            $form.validate({
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: '',
                invalidHandler: function(event,validator) {
                    var errors = '';
                    $.each(validator.errorList,function(ix,item){
                        var $item = $(item.element),
                            error = $item.attr( 'data-error-msg' );

                        if(error.length) {
                            if(errors.length) {
                                errors += '<br>' + error;
                            } else {
                                errors = error;
                            }
                        }
                    });
                    toastr['error'](errors, 'Form Errors');
                },
                errorPlacement: function(error,element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.css('color','red');
                    icon.removeClass('fa-check').addClass('fa-warning');
                    icon.attr('data-original-title', error.text()).tooltip({'container':'body'});
                },
                highlight: function(element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').removeClass('has-success').removeClass('has-warning');
                },
                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                    icon.css('color','green');
                },
                submitHandler: function (form) {
                    toastr['success']('All form fields are valid','Valid Form');
                    form.submit();
                }
            });
        }

        function loadFormIcons()
        {
            $('#settings-form').find('input').each(function(){
                var $this = $(this),
                    $parent = $this.parent();
                if($this.attr('data-skip-icon') === undefined) {
                    if($this.attr('type') !== 'checkbox') {
                        $parent.addClass('input-icon right');
                        var $icon = $parent.find('.fa');
                        if($icon.length <= 0) {
                            $icon = $('<i class="fa" />');
                            $this.before( $icon );
                        }
                    }
                }
            });
        }

        function initFileUploads()
        {
            var $form = $('#fileupload');
            $form.fileupload({
                url: Routing.generate( 'admin_site_settings_upload_image' ),
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                autoUpload: false,
                maxChunkSize: 1000000,
                sequentialUploads: true,
                completed: function(a,b) {
                    console.log(a);
                    console.log(b);
                    $('tr.template-download').slideUp( 'slow', $('tr.template-download').remove() );
                }
            }).on('fileuploaddone', function (e, data) {
                        console.log(e);
                        console.log(data);
                        $.each(data.files,function(ix,file){
                            processUploadedImage( file );
                        });
                    });
        }

        function processUploadedImage( file )
        {
            var filename = file.name;
            $.ajax({
                url: Routing.generate( 'admin_settings_ajax_process_image' ),
                data: { 'filename': filename },
                type: 'POST',
                success: function(res) {
                    res = JSON.parse(res);
                    if(res.success) {

                    } else {
                        toastr['error'](res.data, 'Error uploading file');
                    }
                }
            });
        }
    </script>
{% endblock body_js %}