<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h2 class="text-primary">Site Logos</h2>
        <small>Site logos can only be changes, not removed. To change, upload a new logo to take its place.</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 text-center">
                <div id="settings-logo" class="image-wrapper well equal-height">
                    {% if settings.logo %}
                        {#{{ siteLogo( 'img-responsive main-logo', {'data-logo-num':1} ) }}#}
                        {#<img class="img-responsive main-logo" src="{{ app.request.getSchemeAndHttpHost ~ asset( settings.logo.getSizeUrl( 'original' ) ) }}" data-logo-num="1" />#}
                        {{ siteLogo( 'img-responsive main-logo', {'data-logo-num':1}) }}
                        {#<div class="image-tools"><span class="btn btn-xs btn-danger pull-right"  onclick="removeLogo('main');" title="Remove"><i class="icon-remove"></i></span><code class="pull-left">{{ '{{ ' }}siteLogo( 'classes', {'attr':'val'} ){{ ' }}' }}</code></div>#}
                    {% else %}
                        Please upload a default logo
                    {% endif %}
                </div>
                <div class="text-left">
                    {{ form_row( form.logo_file_one ) }}
                    {#<div class="fileupload fileupload-new" data-provides="fileupload">#}
                        {#<div class="input-group">#}
                        {#<span class="input-group-btn">#}
                            {#<span class="uneditable-input">#}
                                {#<i class="fa fa-file fileupload-exists"></i>#}
                                {#<span class="fileupload-preview"></span>#}
                            {#</span>#}
                        {#</span>#}
                        {#<span class="btn default btn-file">#}
                            {#<span class="fileupload-new">#}
                                {#<i class="fa fa-paper-clip"></i> Select file#}
                            {#</span>#}
                            {#<span class="fileupload-exists">#}
                                {#Change&nbsp;<i class="fa fa-undo"></i>#}
                            {#</span>#}
                            {#<input type="file" class="default"/>#}
                            {#{{ form_widget( form.logo_file_one ) }}#}
                        {#</span>#}
                            {#<a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i#}
                                        {#class="fa fa-trash-o"></i> Remove</a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div id="settings-alt-logo" class="image-wrapper well equal-height">
                    {% if settings.altLogo %}
                        {#{{ siteLogo( 'img-responsive main-logo', {'data-logo-num':1} ) }}#}
                        {#<img class="img-responsive main-logo" src="{{ app.request.getSchemeAndHttpHost ~ asset( settings.logo.getUrl( 'site', 'original', true ) ) }}" data-logo-num="1" />#}
                        {#<div class="image-tools"><span class="btn btn-xs btn-danger pull-right"  onclick="removeLogo('main');" title="Remove"><i class="icon-remove"></i></span><code class="pull-left">{{ '{{ ' }}siteLogo( 'classes', {'attr':'val'} ){{ ' }}' }}</code></div>#}
                        {#<img class="img-responsive main-logo" src="{{ app.request.getSchemeAndHttpHost ~ asset( settings.altLogo.getSizeUrl( 'original' ) ) }}" data-logo-num="1" />#}
                        {{ siteAltLogo( 'img-responsive main-logo', {'data-logo-num':1}) }}
                    {% else %}
                        Please upload an alternate logo
                    {% endif %}
                </div>
                <div class="text-left">
                    {{ form_row( form.logo_file_two ) }}
                    {#<div class="fileupload fileupload-new" data-provides="fileupload">#}
                        {#<div class="input-group">#}
                        {#<span class="input-group-btn">#}
                            {#<span class="uneditable-input">#}
                                {#<i class="fa fa-file fileupload-exists"></i>#}
                                {#<span class="fileupload-preview"></span>#}
                            {#</span>#}
                        {#</span>#}
                        {#<span class="btn default btn-file">#}
                            {#<span class="fileupload-new">#}
                                {#<i class="fa fa-paper-clip"></i> Select file#}
                            {#</span>#}
                            {#<span class="fileupload-exists">#}
                                {#Change&nbsp;<i class="fa fa-undo"></i>#}
                            {#</span>#}
                            {#<input type="file" class="default"/>#}
                            {#{{ form_widget( form.logo_file_two ) }}#}
                        {#</span>#}
                            {#<a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i#}
                                        {#class="fa fa-trash-o"></i> Remove</a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center text-primary">Site Images</h2>
        <div class="text-center">
            <div class="btn-group">
                <a href="#upload" class="btn btn-primary upload-images" data-toggle="modal"><i class="fa fa-upload"></i> Upload Images</a>
                <a href="javascript:void(0)" class="btn btn-danger remove-selected display-hfide"><i class="fa fa-trash-o"></i> Remove Selected</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="images-list" class="well">
            {% if settings.images %}
                {% for i,image in settings.images %}
                    <div class="image-item" data-id="{{ image.id }}">
                        <a class="fancybox" rel="site-images" title="{{ image.title }}" href="{{ asset( image.getSizeUrl( 'original' ) ) }}">
                            <img data-placement="top" title="{{ image.title }}" data-original-title="{{ image.title }}" class="img-responsive tooltips img-rounded img-{{ image.id }}" src="{{ asset( image.getSizeUrl( 'thumb' ) ) }}" alt="{{ image.title }}" style="margin: 0 auto" />
                        </a>
                        <div class="detail tr">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cogs"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a title="View/Edit Image Information" data-action="view" data-id="{{ image.id }}" class="" href="javascript:void(0);"><i class="fa fa-search"></i> View/Edit Image Info</a></li>
                                    {#<li><a title="Edit Image Information" data-action="edit" data-id="{{ image.id }}" class="" href="javascript:void(0);"><i class="fa fa-edit"></i> Edit Image Info</a></li>#}
                                    <li><a title="Remove this Image" data-action="remove" data-id="{{ image.id }}" class="" href="javascript:void(0);"><i class="fa fa-trash-o"></i> Remove Image</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail tl" title="Select this Image"><a data-action="select" data-id="{{ image.id }}" class="btn btn-warning" href="javascript:void(0);"><i class="fa fa-check"></i></a></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>