<form id="fileupload" action="javascript:void(0)" method="POST" enctype="multipart/form-data">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-md-8">
            <!-- The fileinput-button span is used to style the file input field as button -->
								<span class="btn green fileinput-button">
									<i class="fa fa-plus"></i> Add
									<input id="upload_files" type="file" name="files[]" multiple data-skip-icon="1">
								</span>
            <button type="submit" class="btn blue start">
                <i class="fa fa-upload"></i> Upload
            </button>
            <button type="reset" class="btn yellow cancel">
                <i class="fa fa-ban"></i> Cancel
            </button>
            {#<button type="button" class="btn red delete">#}
                {#<i class="fa fa-trash-o"></i> Delete#}
            {#</button>#}
            <!-- The loading indicator is shown during file processing -->
								<span class="fileupload-loading">
								</span>
        </div>
        <!-- The global progress information -->
        <div class="col-md-4 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;">
                </div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">
                &nbsp;
            </div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped clearfix">
        <tbody class="files">
        </tbody>
    </table>
</form>
