<script type="text/javascript" src="{{ plugin_asset( 'lodash.min.js' ) }}"></script>
<script type="text/javascript" src="{{ plugin_asset( 'data-tables/jquery.dataTables.min.js' ) }}"></script>
<script type="text/javascript" src="{{ plugin_asset( 'data-tables/DT_bootstrap.js' ) }}"></script>
<script type="text/javascript" src="{{ plugin_asset( 'data-tables/jquery.dataTables.responsive.min.js' ) }}"></script>
<script type="text/javascript" src="{{ plugin_asset( 'data-tables/jquery.dataTables.columnFilter.js' ) }}"></script>