<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="{% block meta_description %}Site Administration{% endblock meta_description %}" name="description"/>
    <meta content="{% block meta_author %}JLCoreSystems{% endblock meta_author %}" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ plugin_asset( 'font-awesome/css/font-awesome.min.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ plugin_asset( 'bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ plugin_asset( 'uniform/css/uniform.default.css' ) }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ admin_theme_asset( 'css/style-metronic.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ admin_theme_asset( 'css/style.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ admin_theme_asset( 'css/style-responsive.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ admin_theme_asset( 'css/plugins.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ admin_theme_asset( 'css/themes/default.css' ) }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ admin_theme_asset( 'css/pages/login-soft.css' ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ admin_theme_asset( 'css/custom.css' ) }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    {{ siteLogo() }}
</div>
<!-- END LOGO -->
{% block content %}
{% endblock content %}
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2013 &copy; {{ siteSetting( 'siteTitle' ) }}
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ plugin_asset( 'respond.min.js' ) }}"></script>
<script src="{{ plugin_asset( 'excanvas.min.js' ) }}"></script>
<![endif]-->
<script src="{{ plugin_asset( 'jquery-1.10.2.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'jquery-migrate-1.2.1.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'bootstrap/js/bootstrap.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'jquery-slimscroll/jquery.slimscroll.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'jquery.blockui.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'jquery.cokie.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'uniform/jquery.uniform.min.js' ) }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ plugin_asset( 'jquery-validation/dist/jquery.validate.min.js' ) }}" type="text/javascript"></script>
<script src="{{ plugin_asset( 'backstretch/jquery.backstretch.min.js' ) }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ admin_theme_asset( 'js/app.js' ) }}" type="text/javascript"></script>
<script src="{{ admin_theme_asset( 'js/login-soft.js' ) }}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        App.init();
        Login.init();
    });
</script>
<!-- END JAVASCRIPTS -->
<!-- END BODY -->
</html>