<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
<form class="sidebar-search" action="extra_search.html" method="POST">
    <div class="form-container">
        <div class="input-box">
            <a href="javascript:;" class="remove"></a>
            <input type="text" placeholder="Search..."/>
            <input type="button" class="submit" value=" "/>
        </div>
    </div>
</form>
<!-- END RESPONSIVE QUICK SEARCH FORM -->