<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>Administration {% block head_title %}{% endblock head_title %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="{% block meta_description %}Site Administration{% endblock meta_description %}"
              name="description"/>
        <meta content="{% block meta_author %}JLCoreSystems{% endblock meta_author %}" name="author"/>
        <meta name="MobileOptimized" content="320">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% block head_global_css %}
            <link href="{{ plugin_asset( 'font-awesome/css/font-awesome.min.css' ) }}" rel="stylesheet"
                  type="text/css"/>
            <link href="{{ plugin_asset( 'bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet" type="text/css"/>
            <link href="{{ plugin_asset( 'uniform/css/uniform.default.css' ) }}" rel="stylesheet" type="text/css"/>

            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-fileupload/bootstrap-fileupload.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'gritter/css/jquery.gritter.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'clockface/css/clockface.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-wysihtml5/bootstrap-wysihtml5.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-datepicker/css/datepicker.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-timepicker/compiled/timepicker.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-daterangepicker/daterangepicker-bs3.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-datetimepicker/css/datetimepicker.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-tabdrop/css/tabdrop.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'jquery-multi-select/css/multi-select.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'jquery-tags-input/jquery.tagsinput.css' ) }}"/>
            <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-markdown/css/bootstrap-markdown.min.css' ) }}">
            <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.min.css" media="screen" />


        {% endblock head_global_css %}
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        {% block head_page_level_css %}
            {#<link href="{{ plugin_asset( 'gritter/css/jquery.gritter.css' ) }}" rel="stylesheet" type="text/css"/>#}
            {#<link href="{{ plugin_asset( 'bootstrap-daterangepicker/daterangepicker-bs3.css' ) }}" rel="stylesheet" type="text/css"/>#}
            {#<link href="{{ plugin_asset( 'fullcalendar/fullcalendar/fullcalendar.css' ) }}" rel="stylesheet" type="text/css"/>#}
            {#<link href="{{ plugin_asset( 'jqvmap/jqvmap/jqvmap.css' ) }}" rel="stylesheet" type="text/css"/>#}
            {#<link href="{{ plugin_asset( 'jquery-easy-pie-chart/jquery.easy-pie-chart.css' ) }}" rel="stylesheet" type="text/css"/>#}
        {% endblock head_page_level_css %}
        <!-- END PAGE LEVEL PLUGIN STYLES -->
        <!-- BEGIN THEME STYLES -->
        {% block head_theme_css %}
            {#<link href="{{ plugin_asset( 'jquery-ui/jquery-ui-1.10.3.custom.min.css' ) }}" rel="stylesheet" type="text/css"/>#}
            <link href="{{ admin_theme_asset( 'css/style-metronic.css' ) }}" rel="stylesheet" type="text/css"/>
            <link href="{{ admin_theme_asset( 'css/style.css' ) }}" rel="stylesheet" type="text/css"/>
            <link href="{{ admin_theme_asset( 'css/style-responsive.css' ) }}" rel="stylesheet" type="text/css"/>
            <link href="{{ admin_theme_asset( 'css/plugins.css' ) }}" rel="stylesheet" type="text/css"/>
            <link href="{{ admin_theme_asset( 'css/pages/tasks.css' ) }}" rel="stylesheet" type="text/css"/>
            <link href="{{ admin_theme_asset( 'css/themes/default.css' ) }}" rel="stylesheet" type="text/css"
                  id="style_color"/>
            <link href="{{ admin_theme_asset( 'css/custom.css' ) }}" rel="stylesheet" type="text/css"/>
        {% endblock head_theme_css %}
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico"/>

        {% include 'CoreSysSiteBundle:Default:googleAnalytics.html.twig' %}
    {% endblock head %}
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-fixed">
{{ siteSetting( 'enable_google_analytics', false ) }}
{% block body %}

{% block header %}
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="{{ path( 'admin_index' ) }}">
                {#<img src="{{ admin_theme_asset( 'images/logo.png' ) }}" alt="logo" class="img-responsive"/>#}
                {{ siteLogo( 'img-responsive', {'alt':'logo'}) }}
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="{{ admin_theme_asset( 'images/menu-toggler.png' ) }}" alt=""/>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                {% block top_notifications %}
                    {#{% include 'CoreSysThemeBundle:Metronic:admin_notifications.html.twig' %}#}
                {% endblock top_notifications %}
                {% block top_inbox %}
                    {#{% include 'CoreSysThemeBundle:Metronic:admin_inbox.html.twig' %}#}
                {% endblock top_inbox %}
                {% block top_todo %}
                    {#{% include 'CoreSysThemeBundle:Metronic:admin_todo.html.twig' %}#}
                {% endblock top_todo %}
                {% block top_user %}
                    {% include 'CoreSysThemeBundle:Metronic:admin_user.html.twig' %}
                {% endblock top_user %}
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
{% endblock header %}

<div class="clearfix"></div>

{% block page_container %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                {% block page_sidebar %}
                    {% include 'CoreSysThemeBundle:Metronic:admin_sidebar.html.twig' %}
                {% endblock page_sidebar %}
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <h3 class="page-title">
                            {% block page_title %}
                                Dashboard
                                <small>statistics and more</small>
                            {% endblock page_title %}
                        </h3>
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="{{ path( 'admin_index' ) }}">Dashboard</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            {% block page_breadcrumbs %}
                            {% endblock page_breadcrumbs %}
                            <li class="pull-right">
                                {% block page_item_right %}
                                    {#<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top"#}
                                    {#data-original-title="Change dashboard date range">#}
                                    {#<i class="fa fa-calendar"></i>#}
                                    {#<span>#}
                                    {#</span>#}
                                    {#<i class="fa fa-angle-down"></i>#}
                                    {#</div>#}
                                {% endblock page_item_right %}
                            </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock page_container %}

{% block footer %}
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            2013 &copy; J&L CoreSystems.
        </div>
        <div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
        </div>
    </div>
    <!-- END FOOTER -->
{% endblock footer %}

{% block core_js %}
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="{{ plugin_asset( 'respond.min.js' ) }}"></script>
    <script src="{{ plugin_asset( 'excanvas.min.js' ) }}"></script>
    <![endif]-->
    <script src="{{ plugin_asset( 'jquery-1.10.2.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'jquery-migrate-1.2.1.min.js' ) }}" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    {#<script src="{{ plugin_asset( 'jquery-ui/jquery-ui-1.10.3.custom.min.js' ) }}" type="text/javascript"></script>#}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" charset="UTF-8"></script>
    <script src="{{ plugin_asset( 'bootstrap/js/bootstrap.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js' ) }}"
            type="text/javascript"></script>
    <script src="{{ plugin_asset( 'jquery-slimscroll/jquery.slimscroll.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'jquery.blockui.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'jquery.cokie.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'uniform/jquery.uniform.min.js' ) }}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-toastr/toastr.min.css' ) }}"/>

    <script type="text/javascript" src="{{ plugin_asset( 'fuelux/js/spinner.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'ckeditor/ckeditor.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-fileupload/bootstrap-fileupload.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-wysihtml5/wysihtml5-0.3.0.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-wysihtml5/bootstrap-wysihtml5.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-datepicker/js/bootstrap-datepicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'clockface/js/clockface.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-daterangepicker/moment.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-daterangepicker/daterangepicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-timepicker/js/bootstrap-timepicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-tabdrop/js/bootstrap-tabdrop.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery-inputmask/jquery.inputmask.bundle.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.input-ip-address-control-1.0.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery-multi-select/js/jquery.multi-select.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery-multi-select/js/jquery.quicksearch.js' ) }}"></script>
    <script src="{{ plugin_asset( 'bootbox/bootbox.min.js' ) }}" type="text/javascript"></script>

    <script src="{{ plugin_asset( 'jquery.pwstrength.bootstrap/src/pwstrength.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'bootstrap-switch/static/js/bootstrap-switch.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'jquery-tags-input/jquery.tagsinput.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'bootstrap-markdown/js/bootstrap-markdown.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'bootstrap-markdown/lib/markdown.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'bootstrap-maxlength/bootstrap-maxlength.min.js' ) }}" type="text/javascript"></script>
    <script src="{{ plugin_asset( 'bootstrap-touchspin/bootstrap.touchspin.js' ) }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery-validation/dist/jquery.validate.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery-validation/dist/additional-methods.min.js' ) }}"></script>

    <script src="{{ plugin_asset( 'bootstrap-toastr/toastr.min.js' ) }}"></script>
    <script src="{{ plugin_asset( '../js/plugins.js' ) }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/jmikolajsassetshelper/js/assets_helper.js') }}"></script>
    <script src="{{ path('jmikola_js_assets_helper_js') }}"></script>
    <!-- END CORE PLUGINS -->
{% endblock core_js %}

{% block page_level_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ plugin_asset( 'jquery.sparkline.min.js' ) }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock page_level_js %}

{% block page_level_scripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    {% block page_level_script_includes %}
        <script src="{{ admin_theme_asset( 'js/app.js' ) }}" type="text/javascript"></script>
    {% endblock page_level_script_includes %}
    {#<script src="{{ admin_theme_asset( 'js/form-components.js' ) }}"></script>#}
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            App.init(); // initlayout and core plugins
            {% block page_level_init %}
            {% endblock page_level_init %}
        });

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    <!-- END JAVASCRIPTS -->
{% endblock page_level_scripts %}

{% block body_js %}
{% endblock body_js %}

{% block messages %}
        {% include 'CoreSysThemeBundle:Metronic:admin_messages.html.twig' %}
{% endblock messages %}
</body>
<!-- END BODY -->
{% endblock body %}
</html>