<script type="application/javascript">
    {% for flashMessage in app.session.flashbag.get('success') %}
    toastr['success']('{{ flashMessage }}','Success');
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
    toastr['error']('{{ flashMessage }}','Error');
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
    toastr['warning']('{{ flashMessage }}','Warning');
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
    toastr['info']('{{ flashMessage }}','Information');
    {% endfor %}
</script>