<!-- BEGIN USER LOGIN DROPDOWN -->
<li class="dropdown user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" src="{{ admin_theme_asset( 'images/avatar1_small.jpg' ) }}"/>
				<span class="username">
					{{ app.user }}
				</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path( 'admin_users_view_user', {'slug': app.user })}}"><i class="fa fa-user"></i> My Profile</a>
        </li>
        <li>
            <a href="javascript:void(0);" title="For future development"><i class="fa fa-calendar"></i> My Calendar</a>
        </li>
        <li>
            <a href="{{ path( 'admin_users_view_user', {'slug': app.user })}}#messages"><i class="fa fa-envelope"></i> My Inbox
						<span class="badge badge-danger">
							{{ unreadMessagesCount() }}
						</span>
            </a>
        </li>
        <li class="display-hide">
            <a href="javascript:void(0);" title="For future development"><i class="fa fa-tasks"></i> My Tasks
						<span class="badge badge-success">
							7
						</span>
            </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="javascript:void(0);" id="trigger_fullscreen"><i class="fa fa-move"></i> Full Screen</a>
        </li>
        <li>
            <a href="{{ path( 'fos_user_security_logout' ) }}"><i class="fa fa-key"></i> Log Out</a>
        </li>
    </ul>
</li>
<!-- END USER LOGIN DROPDOWN -->