<script type="application/javascript" src="{{ plugin_asset( 'typeahead/bloodhound.js' ) }}"></script>
<script type="application/javascript" src="{{ plugin_asset( 'typeahead/typeahead.bundle.min.js' ) }}"></script>
<script type="application/javascript" src="{{ plugin_asset( 'typeahead/typeahead.jquery.js' ) }}"></script>