{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    User Configuration
{% endblock head_title %}

{% block page_title %}
    User Configuration
    <small>User specific settings</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_site_settings' ) }}">User Configuration</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="{{ plugin_asset( 'respond.min.js' ) }}"></script>
    <script src="{{ plugin_asset( 'excanvas.min.js' ) }}"></script>
    <![endif]-->
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>User Configuration
                    </div>
                    <div class="actions">
                        <a href="javascript:void(0)" onclick="$('form#user-configuration').submit();" class="btn green btn-sm save-settings"><i class="fa fa-check"></i> Save</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST" action="" id="user-configuration" class="form">
                        <div class="tabbable-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#general" data-toggle="tab">General</a>
                                </li>
                                <li class="">
                                    <a href="#messaging" data-toggle="tab">Messaging</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="general">
                                    {% include 'CoreSysUserBundle:Admin:general_tab.html.twig' %}
                                </div>
                                <div class="tab-pane" id="messaging">
                                    {% include 'CoreSysUserBundle:Admin:messaging_tab.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="display-hide" style="display:none">
                            {{ form_rest( form ) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {{ parent() }}
{% endblock body_js %}