<div class="row">
    <div class="col-xs-6">
        {{ form_row( form.minimumPasswordLength ) }}
    </div>
    <div class="col-xs-6">
        {{ form_row( form.maximumPasswordLength ) }}
    </div>
</div>