{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    User Management
{% endblock head_title %}

{% block page_title %}
    User Management
    <small>View/Add/Edit/Remove Users</small>
    <div class="pull-right">
        <div id="sparkline-bar" class="graph sparkline hidden-xs" style="margin-right:25px;"></div>
    </div>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li class="btn-group">
        <button type="button" class="btn red dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                data-delay="1000" data-close-others="true">
            <i class="fa fa-link"></i>
            <span>Quick Links</span>
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_index' ) }}"><i class="fa fa-user"></i> User Management</a>
            </li>
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_roles' ) }}"><i class="fa fa-list"></i> Roles Management</a>
            </li>
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_access' ) }}"><i class="fa fa-list-ul"></i> Access Management</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path( 'admin_users_index' ) }}">User Management</a>
        <i class="fa fa-angle-right"></i>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
    <script type="text/javascript"
            src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        User Management
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary btn-sm add-user" href="javascript:void(0)"><i
                                    class="fa fa-plus-circle"></i> Add User</a>
                        <a class="btn btn-danger display-hide btn-sm remove-users" href="javascript:void(0)"><i
                                    class="fa fa-times-circle"></i> Remove
                            <span class="selected-count">0</span> User(s)</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="users-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th data-hide="phone,tablet" width="20"><input type="checkbox" class="master-check"/></th>
                            <th data-hide="phone,tablet">ID</th>
                            <th data-class="expand">Login</th>
                            <th data-hide="phone">Email</th>
                            <th data-hide="always,phone,tablet">Created</th>
                            <th data-hide="always,phone,tablet">Last Login</th>
                            <th data-hide="phone">Roles</th>
                            <th data-hide="always,phone,tablet">Status</th>
                            <th data-hide="phone,tablet" width="150">Options</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-modal" tabindex="-1" access="dialog" aria-labelledby="new-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="edit-modal" tabindex="-1" access="dialog" aria-labelledby="edit-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="view-modal" tabindex="-1" access="dialog" aria-labelledby="view-modal"
         aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    <script type="application/javascript"
            src="{{ plugin_asset( 'CoreSys/js/jquery.adminAjaxTablePage.js' ) }}"></script>
    <script type="application/javascript" src="{{ asset( 'bundles/coresysuser/js/jquery.adminUserPage.js') }}"></script>
    <script type="application/javascript">
        var page;
        $(document).ready(function () {
            $("#sparkline-bar").sparkline([{{ userLastYearCounts() }}], {'type': 'bar'});
            page = new $.fn.adminUserPage();
            page = page.page;
        });
    </script>
{% endblock body_js %}