<div class="row">
    <div class="col-xs-6">{{ form_row( form.messageAdminRole) }}</div>
    <div class="col-xs-6">{{ form_row( form.messageModeratorRole) }}</div>
    <div class="col-xs-6">{{ form_row( form.messageTrashRole) }}</div>
</div>