<div class="tab-pane" id="messages" data-mailbox="inbox">
    <div class="row user-messages">
        <div class="col-md-2">
            <ul class="user-messages-nav margin-bottom-10">
                <li class="compose-btn">
                    <a href="javascript:;" data-title="Compose" class="btn green">
                        <i class="fa fa-edit"></i> Compose
                    </a>
                </li>
                <li class="mailbox-switcher inbox active" data-type="inbox" data-url="{{ path( 'admin_ajax_user_messages_inbox_data_tables_slug' ) }}">
                    <a href="javascript:;" class="btn" data-title="Inbox">
                        Inbox (<i style="display:inline" class="inbox-count">{{ unreadMessagesCount( app.user ) }}</i>)
                    </a>
                    <b></b>
                </li>
                <li class="mailbox-switcher sent" data-type="sent" data-url="{{ path( 'admin_ajax_user_messages_sent_data_tables_slug' ) }}">
                    <a class="btn" href="javascript:;" data-title="Sent">
                        Sent (<i style="display:inline" class="sent-count">{{ sentMessagesCount( app.user ) }}</i>)
                    </a>
                    <b></b>
                </li>
                {% if hasRole( userConfig( 'messageTrashRole' ) ) %}
                <li class="mailbox-switcher trash" data-type="trash" data-url="{{ path( 'admin_ajax_user_messages_trash_data_tables_slug' ) }}">
                    <a class="btn" href="javascript:;" data-title="Trash">
                        Trash
                        <span style="top:3px;" class="badge badge-important pull-right remove-all-trash" title="Empty Trash"><i style="position:relative;bottom:2px;" class="fa  fa-times-circle"></i></span>
                    </a>
                    <b></b>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="user-messages-content">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption mailbox-title">
                            Inbox
                        </div>
                        <div class="actions btn-group">
                            <a class="btn btn-default display-hide btn-sm messages-mark-as-read" href="javascript:void(0)"><i
                                        class="icon-mail-read green"></i> Mark <span class="selected-count">0</span> as Read</a>
                            <a class="btn btn-default display-hide btn-sm messages-mark-as-unread" href="javascript:void(0)"><i
                                        class="icon-mail-unread red"></i> Mark <span class="selected-count">0</span> as UnRead</a>
                            <a class="btn btn-danger display-hide btn-sm remove-messages" href="javascript:void(0)"><i
                                        class="fa fa-times-circle"></i> Remove
                                <span class="selected-count">0</span> Message(s)</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table data-mailbox="inbox" id="messages-table" class="table table-striped table-advance table-hover table-bordered">
                            <thead>
                            <tr>
                                <th data-hide="phone,tablet" width="20"><input type="checkbox" class="check-all master-check" /></th>
                                <th width="25">Read</th>
                                <th data-class="expand">From</th>
                                <th>To</th>
                                <th>Subject</th>
                                <th>Msgs</th>
                                <th width="160" data-hide="phone,tablet">Date</th>
                                <th width="100" data-hide="phone,tablet">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="view-message-modal" tabindex="-1" access="dialog" aria-labelledby="view-message-modal" aria-hidden="true"></div>