<div class="tabbable tabbable-custom tabbable-full-width">
    <ul class="nav nav-tabs ">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li class=""><a href="#messages" class="messages_tab" data-toggle="tab">Messages</a></li>
        <li class=""><a href="#account" class="account_tab" data-toggle="tab">Account</a></li>
    </ul>
    <div class="tab-content">
        {% include 'CoreSysUserBundle:Admin:view_tab_overview.html.twig' %}
        {% include 'CoreSysUserBundle:Admin:view_tab_messages.html.twig' %}
        {% include 'CoreSysUserBundle:Admin:view_tab_account.html.twig' %}
    </div>
</div>