<div class="tab-pane" id="account">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>{{ user.username }}
            </div>
            <div class="actions">
                <button type="submit" onclick="$('form#account-form').submit();" class="btn btn-primary btn-sm edit-advertiser"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            {{ form_start( form, {'attr': {'id': 'account-form'}} ) }}
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">{{ form_row( form.username ) }}</div>
                    <div class="col-md-6">{{ form_row( form.email ) }}</div>
                    <div class="col-md-6">{{ form_row( form.first_name ) }}</div>
                    <div class="col-md-6">{{ form_row( form.last_name ) }}</div>
                    <div class="col-md-12">
                        <div class="note note-info">
                            <h4 class="block">Password</h4>
                            <p>
                                Only enter a password if you are changing the password. Leave blank to keep the current password
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">{{ form_row( form.plainPassword.password ) }}</div>
                    <div class="col-md-6">{{ form_row( form.plainPassword.confirm ) }}</div>
                    <div class="col-md-12">{{ form_row( form.bio ) }}</div>
                    <div class="col-md-12">{{ form_row( form.sys_roles ) }}</div>
                </div>
                <div class="display-hide" style="display:none">
                    {{ form_rest( form ) }}
                </div>
            </div>
            {{ form_end( form ) }}
            <!-- END FORM-->
        </div>
    </div>
</div>
