<div class="tab-pane active" id="overview">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 profile-info">
                    <h1>{{ user.username }} &lt;{{ user.email }}&gt; <i class="fa fa-{{ user.enabled ? 'check green' : 'times red' }}"></i></h1>
                    {% if user.useGravatar %}
                        <div class="col-xs-4 col-sm-3">
                            <img src="{{ userGravatar(user, 128) }}" />
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <p>
                                {{ user.bio }}
                            </p>
                            <ul class="list-inline">
                                {% for i,role in user.sysRoles %}
                                    <li>
                                        <span class="label" style="background:{{ role.color }}">{{ role.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="clear-fix" style="clear:both"></div>
                    {% else %}
                        <p>
                            {{ user.bio }}
                        </p>
                        <ul class="list-inline">
                            {% for i,role in user.sysRoles %}
                                <li>
                                    <span class="label" style="background:{{ role.color }}">{{ role.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <ul class="list-unstyled profile-nav">
                        <li>
                            <a href="javascript:void(0);" onclick="$('.account_tab').click();" class="profile-edit">edit</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="$('.messages_tab').click();">Unread Messages<span  class="inbox-count">{{ unreadMessagesCount( app.user ) }}</span> </a>
                        </li>
                    </ul>
                </div>
                <!--end col-md-8-->
                <div class="col-md-5">
                    <div class="portlet sale-summary">
                        <div class="portlet-title">
                            <div class="caption">
                                Information
                            </div>
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled">
                                <li>
                        <span class="sale-info">
                             Created <i class="fa fa-img-up"></i>
                        </span>
                        <span class="sale-num">
                             {{ user.createdAt.format( 'M d, Y g:i a' ) }}
                        </span>
                                </li>
                                <li>
                        <span class="sale-info">
                             Last Updated <i class="fa fa-img-up"></i>
                        </span>
                        <span class="sale-num">
                             {{ user.updatedAt.format( 'M d, Y g:i a' ) }}
                        </span>
                                </li>
                                <li>
                        <span class="sale-info">
                             Last Login <i class="fa fa-img-up"></i>
                        </span>
                        <span class="sale-num">
                             {{ user.lastLogin.format( 'M d, Y g:i a' ) }}
                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
        </div>
    </div>
</div>