{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    User {{ user.username }}
{% endblock head_title %}

{% block page_title %}
    User {{ user.username }}
    <small>Manage/View User</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_users_index' ) }}">Users Management</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path( 'admin_users_view_user', {'slug': user.username} ) }}">User {{ user.username }}</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset( 'bundles/coresysuser/css/profile.css' ) }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset( 'bundles/coresysuser/css/messages.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
    <script type="text/javascript"
            src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    <div class="row profile">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        User {{ user.username }}
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary btn-sm edit-advertiser" href="javascript:void(0)"><i class="fa fa-edit"></i> Edit User</a>
                    </div>
                </div>
                <div class="portlet-body">
                    {% include 'CoreSysUserBundle:Admin:view_tabs.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-modal" tabindex="-1" access="dialog" aria-labelledby="edit-modal" aria-hidden="true"></div>
    <div class="modal fade" id="compose-modal" tabindex="-1" access="dialog" aria-labelledby="compose-modal" aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    {{ parent() }}
    <script type="application/javascript"
            src="{{ plugin_asset( 'CoreSys/js/jquery.adminAjaxTablePage.js' ) }}"></script>
    <script type="application/javascript" src="{{ asset( 'bundles/coresysuser/js/jquery.adminUserViewPage.js') }}"></script>
    <script type="application/javascript">
        var page,p;
        $(document).ready(function () {
            page = new $.fn.adminUserViewPage({user_slug:'{{ user.username }}'});
            p = page;
            page = page.page;
        });
    </script>
{% endblock body_js %}