{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    User Roles Management
{% endblock head_title %}

{% block page_title %}
    User Roles Management
    <small>View/Add/Edit/Remove User Roles</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_users_index' ) }}">User Management</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path( 'admin_users_roles' ) }}">User Roles Management</a>
    </li>
    <li class="btn-group">
        <button type="button" class="btn red dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                data-delay="1000" data-close-others="true">
            <i class="fa fa-link"></i>
            <span>Quick Links</span>
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_index' ) }}"><i class="fa fa-user"></i> User Management</a>
            </li>
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_roles' ) }}"><i class="fa fa-list"></i> Roles Management</a>
            </li>
            <li style="padding-right:15px;">
                <a href="{{ path( 'admin_users_access' ) }}"><i class="fa fa-list-ul"></i> Access Management</a>
            </li>
        </ul>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}

{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    <script type="text/javascript"
            src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
{% endblock page_level_js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        User Roles Management
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary btn-sm add-role" href="javascript:void(0)"><i
                                    class="fa fa-plus-circle"></i> Add Role</a>
                        <a class="btn btn-danger display-hide btn-sm remove-roles" href="javascript:void(0)"><i
                                    class="fa fa-times-circle"></i> Remove
                            <span class="selected-count">0</span> Role(s)</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="roles-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th data-hide="phone,tablet" width="20"><input type="checkbox" class="master-check"/></th>
                            <th data-hide="phone,tablet">ID</th>
                            <th data-class="expand">Name</th>
                            <th>ROLE</th>
                            <th data-hide="phone,tablet">Parent(s)</th>
                            <th data-hide="phone,tablet">Users</th>
                            <th data-hide="phone" width="75">Switch</th>
                            <th data-hide="phone" width="75">Active</th>
                            <th data-hide="phone,tablet" width="150">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i,role in roles %}
                            <tr data-id="{{ role.id }}">
                                <td><input type="checkbox" data-id="{{ role.id }}" class="row-check" value="1"/>
                                </td>
                                <td>{{ role.id }}</td>
                                <td style="color:{{ role.color }}">{{ role.name }}</td>
                                <td>{{ role.role }}</td>
                                <td>
                                    {% for i,parent in role.parents %}
                                        <span style="margin:1px;background-color:{{ parent.color }} !important"
                                              data-pid="{{ parent.id }}"
                                              class="label label-primary">{{ parent.name }}</span>
                                    {% endfor %}
                                    {% if role.parents | length == 0 %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if role.users | length < 3 %}
                                        {% for i,user in role.users %}
                                            <span style="margin:1px" class="label label-info"><a href="{{ path( 'admin_users_view_user', {'slug': user.username }) }}" title="View user {{ user.username }}">{{ user.username }}</a></span>
                                        {% endfor %}
                                    {% else %}
                                        <a data-id="{{ role.id }}" class="btn btn-xs btn-info btn-view-users btn-view" href="javascript:void(0)"><i
                                                    class="fa fa-search"></i> View ({{ role.users | length }}) Users</a>
                                    {% endif %}
                                    {% if role.users | length == 0 %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <i class="fa fa-{{ role.switch ? 'check green' : 'times red' }}"></i></td>
                                <td align="center">
                                    <i class="fa fa-{{ role.active ? 'check green' : 'times red' }}"></i></td>
                                <td>
                                    <a class="btn btn-xs btn-info btn-edit" href="javascript:void(0)" title="Edit Role"><i
                                                class="fa fa-edit"></i> Edit</a>
                                    <a class="btn btn-xs btn-danger btn-remove" href="javascript:void(0)"
                                       title="Remove Role"><i class="fa fa-trash-o"></i> Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-modal" tabindex="-1" role="dialog" aria-labelledby="new-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal"
         aria-hidden="true"></div>
    <div class="modal fade" id="view-modal" tabindex="-1" role="dialog" aria-labelledBy="edit-modal"
         aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    <script type="application/javascript"
            src="{{ plugin_asset( 'CoreSys/js/jquery.adminBasicTablePage.js' ) }}"></script>
    <script type="application/javascript"
            src="{{ asset( 'bundles/coresysuser/js/jquery.adminRolesPage.js') }}"></script>
    <script type="application/javascript">
        var page;
        $(document).ready(function () {
            page = new $.fn.adminRolesPage();
            page = page.page;
        });
    </script>
{% endblock body_js %}