{% set is_admin_site_settings = routeContains( 'admin_site_settings' )
    or routeContains( 'admin_cron_manager' )
%}
{% set is_user_management_top = routeContains( 'admin_menus' )
    or routeContains( 'admin_users' )
    or routeContains( 'admin_user_configuration' )
%}
{% set top_selected = is_admin_site_settings or is_user_management_top %}
<li class="{{ top_selected ? 'active' : '' }}">
    <a href="javascript:void(0);">
        <i class="fa fa-cogs"></i>
        <span class="title">System Settings</span>
        <span class="arrow"></span>
        {% if top_selected %}
            <span class="selected"></span>
        {% endif %}
    </a>
    <ul class="sub-menu">
        <li{{ is_admin_site_settings ? ' class="active"' : '' }}>
            <a href="{{ path( 'admin_site_settings' ) }}"><i class="fa fa-cogs"></i> Site Settings</a>
        </li>
        <li{{ is_user_management_top ? ' class="active"' : '' }}>
            <a href="javascript:void(0)"><i class="fa fa-group"></i> User Management<span class="arrow"></span></a>
            <ul class="sub-menu">
                <li{{ routeContains( 'admin_user_configuration' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_user_configuration' ) }}">User Configuration</a></li>
                <li{{ routeContains( 'admin_users_index' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_users_index' ) }}">User Management</a></li>
                <li{{ routeContains( 'admin_users_roles' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_users_roles' ) }}">Roles Management</a></li>
                <li{{ routeContains( 'admin_users_access' ) ? ' class="active"' : '' }}><a href="{{ path( 'admin_users_access' ) }}">Access Management</a></li>
            </ul>
        </li>
        <li{{ routeContains( 'admin_menus' ) ? ' class="active"' : '' }}>
            <a href="{{ path( 'admin_menus' ) }}"><i class="fa fa-reorder"></i> Admin Menus</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-tachometer"></i> Statistics</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-bullhorn"></i> Maintenance</a>
        </li>
        <li{{ routeContains( 'admin_cron_manager' ) ? ' class="active"' : '' }}>
            <a href="{{ path( 'admin_cron_management' ) }}"><i class="fa fa-tasks"></i> Cron Manager</a>
        </li>
    </ul>
</li>