<li class="{{ routeContains( 'admin_campaigns_index' ) ? 'active' : '' }}">
    <a href="{{ path( 'admin_campaigns_index' ) }}">
        <i class="fa fa-group"></i>
        <span class="title">Campaigns</span>
        {% if routeContains( 'admin_campaigns_index' ) %}
            <span class="selected"></span>
        {% endif %}
    </a>
</li>