<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <form id="edit-advertiser-form" class="advertiser-form" action="{{ action }}" method="post" {{ form_enctype( form ) }}>
                {% include 'CoreSysAdBundle:AdminAdvertisersAjax:form_advertiser.html.twig' %}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-advertiser-form" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary save-btn" onclick="$('#edit-advertiser-form').submit();">Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function(){
        loadPostDesc('auto', true);
        loadDropTabs();

        $('#edit-advertiser-form').ajaxForm({
            success: function(res, status) {
                console.log(status);
                console.log(res);
                if(typeof res != 'object') {
                    res = JSON.parse(res);
                }
                if(res.success) {
                    if (typeof page == 'object') {
                        page.editedRow(res, status);
                    }
                    $('.modal').modal('hide');
                } else {
                    toastr['error'](res.msg, 'Error');
                }
            }
        });

        $('#coresys_advertiser_type_shipping_same').uniform();
        $('#coresys_advertiser_type_shipping_same').change(function(){
            var checked = $(this).prop('checked');
            if(checked) {
                $('.shipping_more').addClass('display-hide');
            } else {
                $('.shipping_more').removeClass('display-hide');
            }
        });
        $('#coresys_advertiser_type_shipping_same').change();
    });
</script>