<div class="tab-pane" id="advertiser-billing">
    <div class="row">
        <div class="col-xs-12">
            {{ form_row( form.billing_address.companyName ) }}
        </div>
        <div class="col-xs-12">
            {{ form_row( form.billing_address.address1 ) }}
        </div>
        <div class="col-xs-12">
            {{ form_row( form.billing_address.address2 ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.billing_address.city ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.billing_address.state ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.billing_address.country ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.billing_address.zipCode ) }}
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
            {{ form_row( form.billing_address.homePhone ) }}
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            {{ form_row( form.billing_address.homePhoneExtension ) }}
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
            {{ form_row( form.billing_address.workPhone ) }}
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            {{ form_row( form.billing_address.workPhoneExtension ) }}
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
            {{ form_row( form.billing_address.cellPhone ) }}
        </div>
    </div>
</div>