<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#create_advertiser" data-toggle="tab">New Advertiser</a>
                    </li>
                    <li>
                        <a href="#convert_advertiser" data-toggle="tab">Convert User To Advertiser</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="create_advertiser">
                        <form id="new-advertiser-form" class="advertiser-form" action="{{ action }}" method="post" {{ form_enctype( form ) }}>
                            {% include 'CoreSysAdBundle:AdminAdvertisersAjax:form_advertiser.html.twig' %}
                        </form>
                    </div>
                    <div class="tab-pane" id="convert_advertiser">
                        <form class="form" action="" method="post">
                            <div class="form-group row">
                                <label class="col-med-4 col-sm-4 col-xs-4 control-label">Convert User</label>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-user"></i>
											</span>
                                        <input type="text" id="convert_user" name="convert_user" placeholder="Select User" class="form-control typeahead"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-advertiser-form" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary save-btn">Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function(){
        if (jQuery().select2) {
            $('.select2').select2({
                placeholder: "Select",
                allowClear: true
            });
        }

        $('.nav-tabs a').click(function(e){
            var href = $(this).attr('href');
            if(href == '#convert_advertiser') {
                $('.save-btn').html( 'Convert' );
            } else {
                $('.save-btn').html('Save');
            }
        });

        $('#coresys_advertiser_type_shipping_same').uniform();
        $('#coresys_advertiser_type_shipping_same').change(function(){
            var checked = $(this).prop('checked');
            if(checked) {
                $('.shipping_more').addClass('display-hide');
            } else {
                $('.shipping_more').removeClass('display-hide');
            }
        });
        $('#coresys_advertiser_type_shipping_same').change();

        /** typeahead **/
        $('.tabbable-custom').css('overflow','visible');
        var advertisers = new Bloodhound({
            datumTokenizer: function(d) {
                return Bloodhound.tokenizers.whitespace(d.name);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 10,
            prefetch: {
                url: Routing.generate( 'admin_ajax_ads_advertisers_non_advertiser_users_json' ),
                filter: function(list) {
                    return $.map(list,function(advertisers){
                        console.log(advertisers);
                        return { name: advertisers };
                    });
                }
            }
        });
        advertisers.initialize();

        $('#convert_user').typeahead(null, {
            name: 'Advertisers',
            displayKey: 'name',
            source: advertisers.ttAdapter()
        });
        loadPostDesc('auto', true);
        loadDropTabs();

        $('.save-btn').click(function(e){
            e.preventDefault();
            onSaveClick($(this));
        });

        $('#new-advertiser-form').ajaxForm({
            success: function(res, status) {
                if (typeof page == 'object') {
                    page.{{ new ? 'addedNewRow' : 'editedRow' }}(res, status);
                }
                $('.modal').modal('hide');
            }
        });
    });

    function onSaveClick(el)
    {
        var text = el.text();
        if(text == 'save' || text == 'Save') {
            saveForm();
        } else {
            convert();
        }
    }

    function saveForm()
    {
        $('#new-advertiser-form').submit();
    }

    function convert()
    {
        var $element = $('#convert_user'),
            username = $element.val();

        console.log( 'Converting user: ' + username );

        $.ajax({
            url: Routing.generate( 'admin_ajax_ads_advertisers_convert_user' ) + '/' + username,
            success: function(res) {
                var obj = JSON.parse(res);
                if(obj.success) {
                    console.log( 'YAY' );
                    toastr['success']( 'Successfully converted ' + username + ' to an advertiser.', 'Success' );
                    if (typeof page == 'object') {
                        page.addedNewRow(res, 'success');
                    }
                    $('.modal').modal('hide');
                } else {
                    toastr['error'](obj.msg, 'Error');
                }
            }
        });
    }
</script>