<div class="tab-pane active" id="advertiser-account">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.user.username ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.user.email ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.user.first_name ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.user.last_name ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.user.plainPassword.password ) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row( form.user.plainPassword.confirm ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row( form.user.sys_roles ) }}
        </div>
    </div>
</div>