{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    Advertiser {{ advertiser.user.username }}
{% endblock head_title %}

{% block page_title %}
    Advertiser {{ advertiser.user.username }}
    <small>Manage/View Advertiser</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li>
        <a href="{{ path( 'admin_ads_advertisers_index' ) }}">Advertisers Management</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path( 'admin_ads_advertisers_manage', {'slug': advertiser.user.username} ) }}">Advertiser {{ advertiser.user.username }}</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ admin_theme_asset( 'css/pages/profile.css') }}"/>
{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}
    <div class="row profile">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        Advertiser {{ advertiser.user.username }}
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary btn-sm edit-advertiser" href="javascript:void(0)"><i class="fa fa-edit"></i> Edit Advertiser</a>
                    </div>
                </div>
                <div class="portlet-body">
                    {% include 'CoreSysAdBundle:AdminAdvertisers:manage_tabs.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-modal" tabindex="-1" access="dialog" aria-labelledby="new-modal" aria-hidden="true"></div>
    <div class="modal fade" id="edit-modal" tabindex="-1" access="dialog" aria-labelledby="edit-modal" aria-hidden="true"></div>
    <div class="modal fade" id="view-modal" tabindex="-1" access="dialog" aria-labelledby="view-modal" aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}

{% endblock body_js %}