<div class="tab-pane active" id="overview">
<div class="row">
<div class="col-md-3">
    <ul class="list-unstyled profile-nav">
        <li>
            <img src="{{ admin_theme_asset( 'images/profile/profile-img.png' ) }}" class="img-responsive" alt="">
            <a href="javascript:void(0)" onclick="$('.account_tab').click();" class="profile-edit">edit</a>
        </li>
        <li>
            <a href="javascript:void(0)" onclick="$('.campaigns_tab').click();">Campaigns<span class="campaigns_count">{{ advertiser.campaignsCount }}</span></a>
        </li>
        <li>
            <a href="#">Messages<span>3</span>            </a>
        </li>
        <li>
            <a href="#">Friends</a>
        </li>
        <li>
            <a href="#">
                Settings
            </a>
        </li>
    </ul>
</div>
<div class="col-md-9">
<div class="row">
    <div class="col-md-8 profile-info">
        <h1>{{ advertiser.user.username }}</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet
            dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
        </p>

        <p>
            <a href="#">
                www.mywebsite.com
            </a>
        </p>
        <ul class="list-inline">
            <li>
                <i class="fa fa-map-marker"></i> Spain
            </li>
            <li>
                <i class="fa fa-calendar"></i> 18 Jan 1982
            </li>
            <li>
                <i class="fa fa-briefcase"></i> Design
            </li>
            <li>
                <i class="fa fa-star"></i> Top Seller
            </li>
            <li>
                <i class="fa fa-heart"></i> BASE Jumping
            </li>
        </ul>
    </div>
    <!--end col-md-8-->
    <div class="col-md-4">
        <div class="portlet sale-summary">
            <div class="portlet-title">
                <div class="caption">
                    Sales Summary
                </div>
                <div class="tools">
                    <a class="reload" href="javascript:void(0);">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-unstyled">
                    <li>
																<span class="sale-info">
																	 TODAY SOLD <i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																	 23
																</span>
                    </li>
                    <li>
																<span class="sale-info">
																	 WEEKLY SALES <i class="fa fa-img-down"></i>
																</span>
																<span class="sale-num">
																	 87
																</span>
                    </li>
                    <li>
																<span class="sale-info">
																	 TOTAL SOLD
																</span>
																<span class="sale-num">
																	 2377
																</span>
                    </li>
                    <li>
																<span class="sale-info">
																	 EARNS
																</span>
																<span class="sale-num">
																	 $37.990
																</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end col-md-4-->
</div>
<!--end row-->
<div class="tabbable tabbable-custom tabbable-custom-profile">
<ul class="nav nav-tabs">
    <li class="">
        <a href="#tab_1_11" data-toggle="tab">
            Latest Customers
        </a>
    </li>
    <li class="active">
        <a href="#tab_1_22" data-toggle="tab">
            Feeds
        </a>
    </li>
</ul>
<div class="tab-content">
<div class="tab-pane" id="tab_1_11">
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
                <th>
                    <i class="fa fa-briefcase"></i> Company
                </th>
                <th class="hidden-xs">
                    <i class="fa fa-question"></i> Descrition
                </th>
                <th>
                    <i class="fa fa-bookmark"></i> Amount
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">
                        Pixel Ltd
                    </a>
                </td>
                <td class="hidden-xs">
                    Server hardware purchase
                </td>
                <td>
                    52560.10$
																<span class="label label-success label-sm">
																	 Paid
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs green-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        Smart House
                    </a>
                </td>
                <td class="hidden-xs">
                    Office furniture purchase
                </td>
                <td>
                    5760.00$
																<span class="label label-warning label-sm">
																	 Pending
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs blue-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        FoodMaster Ltd
                    </a>
                </td>
                <td class="hidden-xs">
                    Company Anual Dinner Catering
                </td>
                <td>
                    12400.00$
																<span class="label label-success label-sm">
																	 Paid
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs blue-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        WaterPure Ltd
                    </a>
                </td>
                <td class="hidden-xs">
                    Payment for Jan 2013
                </td>
                <td>
                    610.50$
																<span class="label label-danger label-sm">
																	 Overdue
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs red-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        Pixel Ltd
                    </a>
                </td>
                <td class="hidden-xs">
                    Server hardware purchase
                </td>
                <td>
                    52560.10$
																<span class="label label-success label-sm">
																	 Paid
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs green-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        Smart House
                    </a>
                </td>
                <td class="hidden-xs">
                    Office furniture purchase
                </td>
                <td>
                    5760.00$
																<span class="label label-warning label-sm">
																	 Pending
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs blue-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        FoodMaster Ltd
                    </a>
                </td>
                <td class="hidden-xs">
                    Company Anual Dinner Catering
                </td>
                <td>
                    12400.00$
																<span class="label label-success label-sm">
																	 Paid
																</span>
                </td>
                <td>
                    <a class="btn default btn-xs blue-stripe" href="#">
                        View
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--tab-pane-->
<div class="tab-pane active" id="tab_1_22">
<div class="tab-pane active" id="tab_1_1_1">
<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;">
<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1"
     style="overflow: hidden; width: auto; height: 290px;">
<ul class="feeds">
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-success">
                    <i class="fa fa-bell-o"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    You have 4 pending tasks.
																					<span class="label label-danger label-sm">
																						 Take action <i
                                                                                                class="fa fa-share"></i>
																					</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            Just now
        </div>
    </div>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New version v1.4 just lunched!
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                20 mins
            </div>
        </div>
    </a>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-danger">
                    <i class="fa fa-bolt"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Database server #12 overloaded. Please fix the issue.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            24 mins
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            30 mins
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-success">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            40 mins
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-warning">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New user registered.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            1.5 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-success">
                    <i class="fa fa-bell-o"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Web server hardware needs to be upgraded.
																					<span class="label label-inverse label-sm">
																						 Overdue
																					</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            2 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            3 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-warning">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            5 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            18 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
</ul>
</div>
<div class="slimScrollBar"
     style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 139.00826446280993px; background-position: initial initial; background-repeat: initial initial;"></div>
<div class="slimScrollRail"
     style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
</div>
</div>
</div>
<!--tab-pane-->
</div>
</div>
</div>
</div>
</div>