<div class="tabbable tabbable-custom tabbable-full-width">
    <ul class="nav nav-tabs ">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li class=""><a href="#campaigns" class="campaigns_tab" data-toggle="tab">Campaigns <span class="campaigns_count">{{ advertiser.campaignsCount }}</span></a></li>
        <li class=""><a href="#account" class="account_tab" data-toggle="tab">Account</a></li>
    </ul>
    <div class="tab-content">
        {% include 'CoreSysAdBundle:AdminAdvertisers:manage_tab_overview.html.twig' %}
        {% include 'CoreSysAdBundle:AdminAdvertisers:manage_tab_campaigns.html.twig' %}
        {% include 'CoreSysAdBundle:AdminAdvertisers:manage_tab_account.html.twig' %}
    </div>
</div>