/* here you can put your own css to customize and override the theme */
@import url(mail-icons.css);

.fa.red {
    color: red !important;
}

.fa.blue {
    color: blue !important;
}

.fa.green {
    color: green !important;
}

table tbody tr.selected td {
    background: rgba(224, 34, 34, .5) !important;
    color: #FFF !important;
}

.btn-pill {
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.form-group .checkbox {
    margin-left: 20px;
}

/** table pagination for smaller screens */
@media (max-width:480px) {
.paginator { text-align: center; }
.paginator .paging_bootstrap { float: none; }
}