@font-face {
    font-family: "FlaticonMail";
    src: url("../fonts/mail.eot");
    src: url("../fonts/mail.eot#iefix") format("embedded-opentype"), url("../fonts/mail.woff") format("woff"), url("../fonts/mail.ttf") format("truetype"), url("../fonts/mail.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"].red {
    color: red;
}

[class^="icon-"].green {
    color: green;
}

[class^="icon-"].blue {
    color: blue;
}

[class^="icon-mail-"]:before, [class*=" icon-mail-"]:before,
[class^="icon-mail-"]:after, [class*=" icon-mail-"]:after {
    font-family: FlaticonMail;
    font-style: normal;
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    line-height: 14px;
}

.icon-mail-unread:before {
    content: "\e000";
}

.icon-mail-read:before {
    content: "\e001";
}