.user-messages {
    margin-bottom: 20px;
}

.user-messages ul.user-messages-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-messages ul.user-messages-nav li {
    position: relative;
}

.user-messages ul.user-messages-nav li a {
    color: #4d82a3;
    display: block;
    font-size: 15px;
    border-left: none;
    text-align: left !important;
    padding: 8px 14px;
    margin-bottom: 1px;
    background: #f4f9fd;
}

.user-messages ul.user-messages-nav li.active a,
.user-messages ul.user-messages-nav li.active:hover a {
    color: #FFFFFF;
    border-left: none;
    background: #169ef4 !important;
    text-decoration: none;
}

.user-messages ul.user-messages-nav li.active b {
    top: 0;
    right: -4px;
    width: 8px;
    height: 35px;
    position: absolute;
    display: inline-block;
    background: url(../../coresystheme/metronic/admin/images/inbox-nav-arrow-blue.png) no-repeat;
}

.user-messages ul.user-messages-nav li:hover a {
    color: #4d82a3;
    background: #eef4f7 !important;
    text-decoration: none;
}

.user-messages ul.user-messages-nav li.compose-btn a {
    color: #FFFFFF;
    text-shadow: none;
    text-align: center;
    margin-bottom: 18px;
    background: #35aa47;
}

.user-messages ul.user-messages-nav li.compose-btn i,
.user-messages ul.user-messages-nav li.compose-btn:hover i {
    top: 1px;
    color: #fff;
    font-size: 15px;
    position: relative;
    background: none !important;
}

.user-messages ul.user-messages-nav li.compose-btn a:hover {
    background-color: #1d943b !important;
}

.user-messages table tbody tr.unread td {
    font-weight: bold;
}

.user-messages table tbody tr td .highlight {
    background: yellow;
    color: #000;
}

.user-messages table tbody tr td .btn {
    text-align: left !important;
}

.user-messages table tbody tr td:nth-child(2) {
    text-align: center;
}

li.undelete {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

/** ON SENT AND TRASH, we need not show a few btns **/
div.tab-pane[data-mailbox=sent] .messages-mark-as-read,
div.tab-pane[data-mailbox=sent] .messages-mark-as-unread,
div.tab-pane[data-mailbox=sent] li.mark-as-read,
div.tab-pane[data-mailbox=sent] li.mark-as-unread,
div.tab-pane[data-mailbox=trash] .messages-mark-as-read,
div.tab-pane[data-mailbox=trash] li.mark-as-read,
div.tab-pane[data-mailbox=trash] .messages-mark-as-unread,
div.tab-pane[data-mailbox=trash] .remove-messages,
div.tab-pane[data-mailbox=trash] li.mark-as-unread,
div.tab-pane[data-mailbox=trash] li.thread-reply,
div.tab-pane[data-mailbox=trash] li.remove-row {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

div.tab-pane[data-mailbox=trash] li.undelete {
    display: block !important;
    opacity: 1;
    visibility: visible;
}

div.tab-pane[data-mailbox=trash] table thead tr th:first-child,
div.tab-pane[data-mailbox=trash] table tbody tr td:first-child {
    display: none;
}