{% extends 'CoreSysAdminBundle:Admin:admin_base.html.twig' %}

{% block head_title %}User Access Management{% endblock head_title %}

{% block head_css %}
    {{ parent() }}
{% endblock head_css %}

{% block head_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset( 'bundles/coresysadmin/js/jquery.form.min.js') }}"></script>
{% endblock head_js %}

{% block content_page_title %}
    <h3>Access Management</h3>
{% endblock content_page_title %}

{% block content_breadcrumb_items %}
    {{ parent() }}
    <li>
        <a href="{{ path( 'admin_users_index' ) }}" title=""><i class="icon-user"></i> User Management</a>
    </li>
    <li class="current">
        <a href="{{ path( 'admin_users_index' ) }}" title=""><i class="icon-user"></i> Users Access Management</a>
    </li>
{% endblock content_breadcrumb_items %}

{% block content_page_stats_items %}
    {{ parent() }}
    <li>
        <a href="javascript:addNewAccess()" class="btn small-margin-top"><i class="icon-plus"></i> Add New Access</a>
    </li>
    <li class="remove-selected">
        <button class="btn btn-danger small-margin-top "><i class="icon-remove"></i> Remove Selected</button>
    </li>
{% endblock content_page_stats_items %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table id="access-table" class="table table-responsive table-striped table-bordered table-hover table-checkable table-tabletools datatable" data-dataTable='{
                "iDisplayLength": 50,
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{{ path( 'admin_ajax_users_access_data_tables' ) }}",
                "aaSorting": [[1, "asc"]],
                "aoColumnDefs": [
                  {
                     "bSortable": false,
                     "aTargets": [ 0, 3, 4, 5 ]
                  }
                ]
            }'>
                <thead>
                <tr>
                    <th class="checkbox-column" data-hide="phone">
                        <input type="checkbox" class="uniform">
                    </th>
                    <th data-hide="phone,tablet">ID</th>
                    <th>Path</th>
                    <th data-hide="phone">ROLES</th>
                    <th>Host</th>
                    <th>IP</th>
                    <th width="75">Anonymous</th>
                    <th width="75">Status</th>
                    <th width="150">Options</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <br><br>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="accessModalAdd" tabindex="-1" role="dialog" aria-labelledby="accessModalAdd" aria-hidden="true"></div>
    <div class="modal fade" id="accessModalEdit" tabindex="-1" role="dialog" aria-labelledby="accessModalEdit" aria-hidden="true"></div>
{% endblock content %}

{% block body_js %}
    {{ parent() }}
    <script>
        var ajax_url_add_access = '{{ path('admin_ajax_users_access_new') }}';
        var ajax_url_edit_access = '{{ path('admin_ajax_users_access_edit') }}';
        var ajax_url_remove_access = '{{ path('admin_ajax_users_access_remove') }}';
        var ajax_url_remove_access = '{{ path('admin_ajax_users_access_remove_selected') }}';
        $(document).ready(function(){});
    </script>
    <script type="application/javascript" src="{{ asset( 'bundles/coresysuser/js/admin_access.js') }}"></script>
{% endblock body_js %}