{% if action is not defined %}
    {% set action = 'javascript:void(0)' %}
{% endif %}
{% if formid is not defined %}
    {% set formid = 'fileupload' %}
{% endif %}
<form id="{{ formid }}" action="{{ action }}" method="POST" enctype="multipart/form-data">
    {% include 'CoreSysMediaBundle:Default:fileUploadFormInner.html.twig' %}
</form>
<script type="application/javascript">
    $(document).ready(function(){
        loadDropTabs();
    });
</script>