<div class="modal fade" id="upload" tabindex="-1" role="upload" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Upload Site Images</h4>
            </div>
            <div class="modal-body">
                {% include 'CoreSysMediaBundle:Default:fileUploadForm.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="application/javascript">
    $(document).ready(function(){
        loadDropTabs();
    });
</script>