<!-- BEGIN:File Upload Plugin JS files-->
<script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/jquery.ui.widget.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/tmpl.min.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/load-image.min.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/vendor/canvas-to-blob.min.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.iframe-transport.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-process.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-image.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-validate.js' ) }}"></script>
<script src="{{ plugin_asset( 'jquery-file-upload/js/jquery.fileupload-ui.js' ) }}"></script>
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{ plugin_asset( 'jquery-file-upload/js/cors/jquery.xdr-transport.js' ) }}"></script>
<![endif]-->
<!-- END:File Upload Plugin JS files-->