{% set sizes = image.getSizesWithDimensions %}
<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        {% set first = true %}
        {% for size,dims in sizes %}
            <li class="{{ first ? 'active' : '' }}">
                <a href="#usage-{{ size }}" data-toggle="tab">{{ ucfirst( size ) }}</a>
            </li>
            {% set first = false %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% set first = true %}
        {% for size,dims in image.sizes %}
            <div class="tab-pane {{ first ? 'active' : '' }}" id="usage-{{ size }}">
                <div class="well">
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Direct</strong>
                        </div>
                        <div class="col-md-10">
                            <div class="note note-info">
                                Direct images are NOT tracked for view counts and NOT watermarked.<br>
                                Direct images can be hot-linked, and are viewable by all users.
                            </div><br>
                            <div class="well well-sm">
                                <span class="label label-default">{{ '/' ~ image.getUrl( size ) }}</span>
                                <br>or<br>
                                <span class="label label-default">{{ '{{ asset( \'' ~ image.getUrl( size ) ~ '\' ) }}' }}</span>
                            </div>

                            <div class="well well-sm">
                                <span class="label label-default">{{ app.request.getSchemeAndHttpHost() ~ asset( image.getUrl( size ) ) }}</span>
                                <br>or<br>
                                <span class="label label-default">{{ '{{ app.request.getSchemeAndHttpHost() ~ asset( \'' ~ image.getUrl( size ) ~ '\' ) }}' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Processed</strong>
                        </div>
                        <div class="col-md-10">
                            <div class="note note-info">
                                Processed images are tracked for view counts and if set, watermarked.<br>
                                Processed images can be set to not allow hot-linking, shown to select users ..etc
                            </div><br>
                            <div class="well well-sm">
                                <span class="label label-default">
                                    {{ '{{ path( \'media_image_' ~ ( size != 'original' ? size : 'show' ) ~ '\', {\'slug\':\'' ~ image.slug ~ '\' ) }}' }}
                                </span>
                                <br>or<br>
                                <span class="label label-default">
                                    {{ path( 'media_image_' ~ ( size != 'original' ? size : 'show'), {'slug': image.slug }) }}
                                </span>
                            </div>
                            <div class="well well-sm">
                                <span class="label label-default">
                                    {{ '{{ url( \'media_image_' ~ ( size != 'original' ? size : 'show' ) ~ '\', {\'slug\':\'' ~ image.slug ~ '\' ) }}' }}
                                </span>
                                <br>or<br>
                                <span class="label label-default">
                                    {{ url( 'media_image_' ~ ( size != 'original' ? size : 'show'), {'slug': image.slug }) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% set first = false %}
        {% endfor %}
    </div>
</div>