<div class="modal-dialog modal-wide">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Image Information</h4>
        </div>
        <div class="modal-body">
            <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                    <li class="active"><a href="#image-general" data-toggle="tab">General</a></li>
                    <li class=""><a href="#image-preview" data-toggle="tab">Preview</a></li>
                    <li class=""><a href="#image-usage" data-toggle="tab">Usage</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="image-general">
                        {% include 'CoreSysMediaBundle:Default:imageModalInfoInnerGeneral.html.twig' %}
                    </div>
                    <div class="tab-pane" id="image-preview">
                        {% include 'CoreSysMediaBundle:Default:imageModalInfoInnerPreview.html.twig' %}
                    </div>
                    <div class="tab-pane" id="image-usage">
                        {% include 'CoreSysMediaBundle:Default:imageModalInfoInnerUsage.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function(){
        loadDropTabs();
    });
</script>