{% if show_inner is not defined %}{% set show_inner = true %}{% endif %}
<div class="modal fade" id="imageinfo" tabindex="-1" role="imageinfo" aria-hidden="true">
    {% if show_inner %}
    {% include 'CoreSysMediaBundle:Default:imageModalInner.html.twig' %}
    {% endif %}
</div>