<div class="well view-image-{{ image.id }}">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Title</strong></td>
                <td>
                    <a href="javascript:void(0)" id="image-{{ image.id }}-title" data-type="text" data-pk="{{ image.id }}" data-original-title="Enter title">{{ image.title }}</a>
                </td>
            </tr>
            <tr>
                <td><strong>Filename</strong></td>
                <td>{{ image.filename }}</td>
            </tr>
            <tr>
                <td><strong>Slug</strong></td>
                <td>
                    <a href="javascript:void(0)" id="image-{{ image.id }}-slug" data-type="text" data-pk="{{ image.id }}" data-original-title="Enter slug">{{ image.slug }}</a>
                </td>
            </tr
            <tr>
                <td><strong>Extension</strong></td>
                <td>{{ image.ext }}</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>{{ image.type }}</td>
            </tr>
            <tr>
                <td><strong>Header</strong></td>
                <td>{{ image.header }}</td>
            </tr>
            <tr>
                <td><strong>Active</strong></td>
                <td>
                    <a href="javascript:void(0)" id="image-{{ image.id }}-active" data-type="select" data-pk="{{ image.id }}" data-original-title="Is this image active?">
                        <i class="fa fa-{{ image.active ? 'check green' : 'minus-circle red' }}" title="{{ image.active ? 'Active' : 'Inactive' }}"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td><strong>Position</strong></td>
                <td>
                    <a href="javascript:void(0)" id="image-{{ image.id }}-position" data-type="text" data-pk="{{ image.id }}" data-original-title="Image Position">
                        {{ image.position }}
                    </a>
                </td>
            </tr>
            <tr>
                <td><strong>Size</strong></td>
                <td>{{ image.width ~ 'x' ~ image.height }}</td>
            </tr
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function(){
        if($.fn.editable) {
            $.fn.editable.defaults.mode = 'popup';
            $.fn.editable.defaults.inputclass = 'form-control';
            $.fn.editable.defaults.url = '{{ path( 'admin_media_ajax_image_update_column' ) }}';
            $('#image-{{ image.id }}-title').editable();
            $('#image-{{ image.id }}-slug').editable();
            $('#image-{{ image.id }}-position').editable();
            $('#image-{{ image.id }}-active').editable({
                value: {{ image.active ? '1' : '0' }},
                source: [
                    {value: 1, text: 'Yes'},
                    {value: 0, text: 'No'}
                ]
            });
        }
    });
</script>