<div class="well view-image-{{ image.id }}">
    <div class="row">
        <div class="col-md-12">
            <img data-placement="top" title="{{ image.title }}" data-original-title="{{ image.title }}" class="img-responsive tooltips img-rounded img-{{ image.id }}" src="{{ asset( image.getSizeUrl( 'small' ) ) }}" alt="{{ image.title }}" style="margin: 0 auto" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Available Sizes</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for size,dims in image.getSizesWithDimensions %}
                <a class="btn btn-primary" href="{{ asset( image.getSizeUrl(size) ) }}" target="_blank" style="margin-bottom:2px;">
                    <i class="fa fa-link"></i> {{ size }} ({{ dims.width ~ 'x' ~ dims.height }})
                </a>
            {% endfor %}
        </div>
    </div>
</div>