<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <form id="{{ new ? 'new-role-form' : 'edit-role-form' }}" class="role-form" action="{{ action }}" method="post" {{ form_enctype( form ) }}>
                <div class="row">
                    <div class="col-md-8">{{ form_row( form.name ) }}</div>
                    <div class="col-md-4">{{ form_row( form.color ) }}</div>
                </div>
                {{ form_row( form.parents ) }}
                <br>

                <div class="row">
                    <div class="col-xs-11 col-xs-offset-1">
                        {{ form_row( form.switch ) }}
                    </div>
                </div>
                {{ form_row( form._token ) }}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-role-form" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="$('#{{ new ? 'new-role-form' : 'edit-role-form' }}').submit();">Save</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function () {
        loadPostDesc('auto', true);
        loadDropTabs();
        $('#{{ new ? 'new-role-form' : 'edit-role-form' }}').ajaxForm({
            success: function (res, status) {
                if (typeof page == 'object') {
                    {% if new %}
                        page.addedNewRow(res, status, {{ new ? 'true' : 'false' }});
                    {% else %}
                        page.editedRow(res, status, {{ new ? 'true' : 'false' }});
                    {% endif %}
                }
                $('.modal').modal('hide');
            }
        });

        $('[rel="color-picker"]').each(function () {
            var $wrapper = $('<div class="input-group" />');
            $(this).parent().prepend($wrapper);
            var $addon = $('<span class="input-group-addon"><i class="fa fa-chevron-down"></i></span>');
            $addon.css({'background': $(this).val(), 'cursor': 'pointer'});
            $addon.click(function () {
                $('#coresys_user_role_type_color').focus();
                $('#coresys_user_role_type_color').blur();
            });
            $wrapper.append($addon);
            $(this).detach();
            $wrapper.prepend($(this));
            var $this = $(this);
            $this.colorpicker({
                format: 'hex',
                submit: 0
            }).on('changeColor', function (ev) {
                        $this.attr('value', ev.color.toHex());
                        $this.parent().find('.input-group-addon').css('background', ev.color.toHex());
                    });
        });
    });
</script>