<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ role.name }} Users ({{ role.users | length }})</h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="25">ID</th>
                    <th>Username</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody>
                {% for i,user in role.users %}
                    <tr data-id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td><a style="display:block" title="View user {{ user.username }}"
                               href="{{ path( 'admin_users_view_user', {'slug': user.username }) }}">{{ user.username }}</a></td>
                        <td>{% for j,r in user.sysRoles %}
                                <span class=" label label-default" style="margin:1px;background-color:{{ r.color }}
                            !important">{{ r.name | ucwords }}</span>
                            {% endfor %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-role-form" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->