<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <form id="{{ new ? 'new-access-form' : 'edit-access-form' }}" class="access-form" action="{{ action }}" method="post" {{ form_enctype( form ) }}>
                {{ form_row( form.path ) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row( form.host ) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row( form.ip ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row( form.roles ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-left: 20px;padding-left:10px">
                            {{ form_row( form.anonymous ) }}
                        </div>
                    </div>
                </div>
                {{ form_row( form._token ) }}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-access-form" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="$('#{{ new ? 'new-access-form' : 'edit-access-form' }}').submit();">Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="application/javascript">
    $(document).ready(function(){
        loadPostDesc('auto', true);
        loadDropTabs();
        $('#{{ new ? 'new-access-form' : 'edit-access-form' }}').ajaxForm({
            success: function(res, status) {
                if (typeof page == 'object') {
                    page.{{ new ? 'addedNewRow' : 'editedRow' }}(res, status);
                }
                $('.modal').modal('hide');
            }
        });
    });
</script>