{% extends 'CoreSysThemeBundle::admin.html.twig' %}

{% block head_title %}
    Campaigns Management
{% endblock head_title %}

{% block page_title %}
    Campaigns Management
    <small>All Campaigns Available in the System</small>
{% endblock page_title %}

{% block page_breadcrumbs %}
    <li class="btn-group">
        <button type="button" class="btn red dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <i class="fa fa-link"></i>
            <span>Quick Links</span>
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a style="padding-right:30px;" href="{{ path( 'admin_ads_campaigns_index' ) }}"><i class="fa fa-list"></i> All Campaigns</a>
            </li>
            <li>
                <a style="padding-right:30px;" href=""><i class="fa fa-user"></i> User Campaigns</a>
            </li>
            <li>
                <a style="padding-right:30px;" href=""><i class="fa fa-plus green"></i> Create New Campaign</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path( 'admin_ads_index' ) }}">Ads Overview</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path( 'admin_ads_campaigns_index' ) }}">Campaigns Management</a>
    </li>
{% endblock page_breadcrumbs %}

{% block head_page_level_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'select2/select2_metro.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ plugin_asset( 'bootstrap-colorpicker/css/colorpicker.css' ) }}"/>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_css.html.twig' %}

{% endblock head_page_level_css %}

{% block page_level_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ plugin_asset( 'select2/select2.min.js' ) }}"></script>
    {% include 'CoreSysThemeBundle:Metronic:admin_datatables_includes_js.html.twig' %}
    <script type="text/javascript" src="{{ plugin_asset( 'bootstrap-colorpicker/js/bootstrap-colorpicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ plugin_asset( 'jquery.form.min.js' ) }}"></script>
{% endblock page_level_js %}

{% block content %}

{% endblock content %}

{% block body_js %}
    <script type="application/javascript" src="{{ plugin_asset( 'CoreSys/js/jquery.adminAjaxTablePage.js' ) }}"></script>
    {#<script type="application/javascript" src="{{ asset( 'bundles/coresyscampaign/js/jquery.adminCampaignPage.js') }}"></script>#}
    <script type="application/javascript">
        var page;
        $(document).ready(function () {
            {#$("#sparkline-bar").sparkline([{{ userLastYearCounts() }}],{'type':'bar'});#}
//            page = new $.fn.adminCampaignPage();
//            page = page.page;
        });
    </script>
{% endblock body_js %}